ion-content a {
  text-decoration: none;
  font-weight: 600;
}

.alert {
  font-weight: 600;
}

.alert.alert-success {
  color: var(--ion-color-success-contrast);
  background: var(--ion-color-green);
}

.alert.alert-danger {
  color: var(--ion-color-danger-contrast);
  background: var(--ion-color-danger);
}

.section-logo {
  text-align: center;
}

.section-logo img {
  height: 55px;
}

.section-top {
  margin-bottom: 20px;
}

.section-top h1 {
  color: var(--ion-color-main-text-dark);
  font-weight: normal;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.section-top h3 {
  margin: 0;
  color: var(--ion-color-main-text);
  font-size: 19px;
  font-weight: normal;
}

.form .item.button {
  margin-top: 30px;
}

.to-register {
  text-align: center;
  margin-top: 30px;
}
