<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button
        (click)="goBack()"
        routerDirection="back"
        text=""
        icon="ios-arrow-back"
      ><ion-icon name="ios-arrow-back"></ion-icon> Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper-login">
    <form (ngSubmit)="logForm()" novalidate>
      <!-- <div class="alert alert-success ion-padding">
        Success! <br />
        Username and password match.
      </div> -->
      <!-- <div *ngIf="loginFailed" class="alert alert-danger ion-padding">
        Failed! <br />
        Username and password not match.
      </div> -->
      <div class="section-logo ion-padding">
        <img src="../../assets/images/logo.png" alt="" />
      </div>
      <div class="section-top ion-padding">
        <h1>Welcome Back</h1>
        <!-- <h3>Sign in to access your account.</h3> -->
      </div>
      <div class="form ion-padding">
        <div class="item">
          <ion-label position="stacked">Email</ion-label>
          <ion-input
            name="username"
            [(ngModel)]="form.username"
            placeholder="Enter your email"
          ></ion-input>
        </div>
        <div class="item">
          <ion-label position="stacked" class="multiple-label">
            Password
          </ion-label>
          <ion-input
            name="password"
            [(ngModel)]="form.password"
            type="password"
            placeholder="Enter your password"
          ></ion-input>
        </div>
        <div class="item">
          <a (click)="(forgotPwd)">Forgot Password?</a>
        </div>
        <div class="item button">
          <ion-button type="submit" expand="block">Sign In</ion-button>
        </div>
        <div class="to-register">
          Don’t have an account? <a routerLink="/registration">Register</a>
        </div>
      </div>
    </form>
  </div>
</ion-content>
