ion-content {
    a {
        text-decoration: none;
        font-weight: 600;
    }
}
.alert {
    font-weight: 600;
    &.alert-success {
        color: var(--ion-color-success-contrast);
        background: var(--ion-color-green);
    }
    &.alert-danger {
        color: var(--ion-color-danger-contrast);
        background: var(--ion-color-danger);
    }
}
.section-logo {
    text-align: center;
    img {
        height: 55px;
    }
}
.section-top {
    margin-bottom: 20px;
    h1 {
        color: var(--ion-color-main-text-dark);
        font-weight: normal;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    h3 {
        margin: 0;
        color: var(--ion-color-main-text);
        font-size: 19px;
        font-weight: normal;
    }
}
.form {
    .item {
        &.button {
            margin-top: 30px;
        }
    }
}
.to-register {
    text-align: center;
    margin-top: 30px;
}


ion-header, ion-header ion-toolbar ion-title {
    background: #fff;
    h2{
        color: #fff;
    }
    ion-toolbar {
        --min-height: 60px;
        ion-back-button {
            font-size: 14px !important;
            padding: 0 8px;
            --color: #333 !important;
            ion-label{
                color:#333 !important;
            }
        }
    }
    ion-title {
        img {
            height: 34px;
        }
    }
}

:root {
    ion-back-button {
      --color: #333 !important;
    }
}
ion-back-button{
    --color: #333 !important;
}
.sc-ion-buttons-ios-hion-toolbar:not(.ion-color).sc-ion-buttons-ios-s .button-clear, ion-toolbar:not(.ion-color) .sc-ion-buttons-ios-h.sc-ion-buttons-ios-s .button-clear{
    color: #333 !important;
}