<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      User Profile & Credits
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-account ion-padding">
    <div class="wrapper-account">
      <div class="account">
        <!-- <ion-avatar>
          <img src="../../assets/images/icon-officer.svg" alt="">
          <div class="edit-photo">
            <ion-icon name="ios-camera"></ion-icon>
          </div>
        </ion-avatar> -->
        <div class="texts">
          <div class="name">{{form.fullname}}</div>
          <ion-button size="small" class="green">{{getUserData().credit_balance}} Remaining Credit</ion-button>
        </div>
      </div>
      <ion-button routerLink="/credit-balance-topup" size="small" expand="block" class="purchase">Purchase Credits</ion-button>
      <div align="center"><a style="color:#f00;" (click)="logout()">Logout</a></div>

    </div>
  </div>
  <div class="ion-padding">
    
    <ion-list>
      <ion-item routerLink="/edit-profile" lines="inset" detail>
        <!-- <ion-avatar slot="start">
          <img src="../../assets/images/icons/profile.svg">
        </ion-avatar> -->
        <ion-label>
            Edit Profile
        </ion-label>
      </ion-item>
      <ion-item routerLink="/my-listing" lines="inset" detail>
          <!-- <ion-avatar slot="start">
              <img src="../../assets/images/icons/my-listing.svg">
            </ion-avatar> -->
        <ion-label>
          My Listings
        </ion-label>
      </ion-item>
      <ion-item routerLink="/top-up-history" lines="inset" detail>
          <!-- <ion-avatar slot="start">
              <img src="../../assets/images/icons/topup-history.svg">
            </ion-avatar> -->
        <ion-label>
          Top Up History
        </ion-label>
      </ion-item>
      <ion-item>
          <!-- <ion-avatar slot="start">
              <img src="../../assets/images/icons/info.svg">
            </ion-avatar> -->
          <ion-label>
            About
          </ion-label>
        </ion-item>
    </ion-list>
  </div>
</ion-content>