.form .multiple-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form .multiple-label > ion-button {
  margin: 0;
  height: 20px;
}

ion-header {
  --background: var(--ion-color-primary);
}

ion-header ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-header ion-toolbar ion-title {
  color: var(--ion-color-primary-contrast);
}

ion-header ion-toolbar ion-back-button {
  color: var(--ion-color-primary-contrast);
}

.section-account {
  background: var(--ion-color-primary);
  margin-bottom: 95px;
  padding-top: 40px;
}

.section-account .wrapper-account {
  padding: 15px 20px;
  border-radius: 10px;
  background: var(--ion-color-primary-contrast);
  box-shadow: 0 8px 20px 0 rgba(91, 91, 91, 0.06);
  margin-bottom: -80px;
}

.section-account .wrapper-account .account {
  display: flex;
  align-items: flex-start;
}

.section-account .wrapper-account .account ion-avatar {
  position: relative;
  margin-right: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--ion-color-primary-contrast);
  box-shadow: 0 8px 20px 0 rgba(59, 124, 236, 0.12);
}

.section-account .wrapper-account .account ion-avatar img {
  height: 100%;
}

.section-account .wrapper-account .account ion-avatar .edit-photo {
  border-radius: 50%;
  background: var(--ion-color-primary-contrast);
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.section-account .wrapper-account .account ion-avatar .edit-photo ion-icon {
  margin-top: 3px;
}

.section-account .wrapper-account .account .texts {
  width: calc(100% - 65px);
}

.section-account .wrapper-account .account .texts .name {
  font-size: 20px;
  color: var(--ion-color-main-text-dark);
  font-weight: 600;
}

.section-account .wrapper-account .account .texts .green {
  --background: var(--ion-color-green);
  color: var(--ion-color-success-contrast);
  margin-bottom: 20px;
}

.section-account .wrapper-account .account .texts .purchase {
  font-size: 16px;
}

.section-listing .product-details {
  margin-bottom: 15px;
}

.section-listing .product-details .label ion-button:last-child {
  float: right;
}

.section-tabs-content .menu-tab {
  padding-top: 0;
  padding-bottom: 0;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button {
  color: var(--ion-color-main-text);
  --border-color: transparent;
  --background-activated: var(--ion-color-primary-contrast);
  --background-checked: var(--ion-color-primary-contrast);
  --color-checked: var(--ion-color-primary);
  border-bottom: 2px solid transparent;
  border-width: 0;
  min-height: 0;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button.segment-button-checked {
  color: var(--ion-color-primary);
  border-bottom: 2px solid var(--ion-color-primary);
}

.section-tabs-content .menu-tab ion-segment ion-segment-button:first-child, .section-tabs-content .menu-tab ion-segment ion-segment-button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.top-up-history .list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--ion-color-light);
}

.top-up-history .list .item .left {
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
}

.top-up-history .list .item .left .icon {
  width: 20px;
  margin-right: 10px;
  padding-top: 7px;
}

.top-up-history .list .item .left .icon ion-icon {
  color: var(--ion-color-primary);
  transform: rotate(-40deg);
  font-size: 26px;
}

.top-up-history .list .item .left .text {
  width: calc(100% - 30px);
}

.top-up-history .list .item .left .text .top-up-name {
  font-weight: 600;
  color: var(--ion-color-main-text-dark);
  margin-bottom: 2px;
}

.top-up-history .list .item .left .text .time {
  font-size: 12px;
}

.top-up-history .list .item .right ion-button.green {
  --background: var(--ion-color-green);
  color: var(--ion-color-success-contrast);
}
