<ion-header no-border>
        <ion-toolbar>
          <ion-title>
            User Profile & Credits
          </ion-title>
          <ion-buttons slot="secondary">
            <ion-back-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <div class="section-account ion-padding">
          <div class="wrapper-account">
            <div class="account">
              <ion-avatar>
                <img src="../../assets/images/icon-officer.svg" alt="">
                <div class="edit-photo">
                  <ion-icon name="ios-camera"></ion-icon>
                </div>
              </ion-avatar>
              <div class="texts">
                <div class="name">{{form.fullname}}</div>
                <ion-button size="small" class="green">{{getUserData().credit_balance}} Remaining Credit</ion-button>
              </div>
            </div>
            <ion-button routerLink="/credit-balance-topup" size="small" expand="block" class="purchase">Purchase Credits</ion-button>
            <div align="center"><a style="color:#f00;" (click)="logout()">Logout</a></div>
      
          </div>
        </div>
        <div class="section-tabs-content">
          <div class="section menu-tab ion-padding">
            <ion-segment>
              <ion-segment-button (click)="toggleTab('profile')" value="Profile" [checked]="tabState == 'profile'">
                <ion-label>Profile</ion-label>
              </ion-segment-button>
              <ion-segment-button (click)="toggleTab('my-listing')" value="My Listing" [checked]="tabState == 'my-listing'">
                <ion-label>My Listing</ion-label>
              </ion-segment-button>
              <ion-segment-button (click)="toggleTab('top-up-history')" value="Top Up History"
                [checked]="tabState == 'top-up-history'">
                <ion-label>Top Up History</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
          <div class="content-tab">
            <div id="profile" [hidden]="tabState !== 'profile'" class="content profile ion-padding">
              <form (ngSubmit)="updateProfile()">
              <div class="form form-filter">
                <div class="item">
                  <ion-label position="stacked">Full Name</ion-label>
                  <ion-input name="fullname" [(ngModel)]="form.fullname" placeholder=""></ion-input>
                </div>
                <div [hidden]="getUserData().roles !== 'agent'" class="item">
                  <ion-label position="stacked">CEA No</ion-label>
                  <ion-input name="cea_no" [(ngModel)]="form.cea_no" placeholder="CEA No"></ion-input>
                </div>
                <div [hidden]="getUserData().roles !== 'agent'" class="item">
                  <ion-label position="stacked">Agency</ion-label>
                  <ion-input name="agency" [(ngModel)]="form.agency" placeholder="" ></ion-input>
                </div>
                <div class="item">
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input name="email" [(ngModel)]="form.email" placeholder="Email Address"></ion-input>
                </div>
                <div class="item">
                  <ion-label position="stacked">Mobile No</ion-label>
                  <ion-input name="mobile" [(ngModel)]="form.mobile" placeholder=""></ion-input>
                </div>
                <div class="item">
                  <ion-label position="stacked" class="multiple-label">
                    Password
                    <!-- <ion-button fill="clear" size="small">Show</ion-button> -->
                  </ion-label>
                  <ion-input type="password" name="password" [(ngModel)]="form.password" placeholder="New Password"></ion-input>
                </div>
                <div class="item">
                  <ion-label position="stacked">Confirm Password</ion-label>
                  <ion-input type="password" name="confirm_password" [(ngModel)]="form.confirm_password" placeholder="Confirm New Password"></ion-input>
                </div>
                <div class="item">
                  <ion-button type="submit" expand="block">Update Profile</ion-button>
                </div>
              </div>
              </form>
            </div>
            <div id="my-listing" [hidden]="tabState !== 'my-listing'" class="content my-listing ion-padding">
              <div class="section-listing">
                  <div *ngFor="let item of getListing()" class="product-details">
                      <div class="label">
                        <ion-button size="small" class="green">{{item.vacant_type}}</ion-button>
                        <ion-button size="small" class="orange" *ngIf="item.com_agent_profile !== ''">{{item.com_agent_profile}}% Comm</ion-button>
                        <ion-button (click)="edit(item)" *ngIf="item.status == 0" fill="outline" color="primary" size="small">Draft </ion-button>
                        <ion-button *ngIf="item.status == 1" fill="outline" color="success" size="small">Published </ion-button>
                        <ion-button (click)="edit(item)" *ngIf="item.status == 1" fill="outline" color="secondary" size="small">Edit </ion-button>
                      </div>
                      <div class="description">
                        <div class="title-price">
                          <h2>{{item.property_name}}</h2>
                          <div class="price">S${{item.asking_price | number}}</div>
                        </div>
                        <div class="specification">
                          <div class="item">
                            <span class="label">Bedrooms</span>
                            <span class="value">{{item.no_of_rooms}}</span>
                          </div>
                          <!-- <div class="item">
                            <span class="label">Bathrooms</span>
                            <span class="value">2</span>
                          </div> -->
                          <div class="item">
                            <span class="label">{{item.floor_area}} sqft</span>
                          </div>
                        </div>
                        <div (click)="openBrowser(item.property_name, item.url)" class="url">
                          <span>URL: </span>
                          <a>{{item.url}}</a>
                        </div>
                        <div class="location">
                          <ion-icon name="md-pin"></ion-icon>
                          <span>{{item.address}}</span>
                        </div>
                        <div class="available-viewing-time">
                          <p>Confirmed view time</p>
                          <!-- <div class="item">
                            <span>Day</span>
                            <div class="value">Monday</div>
                          </div> -->
                          <div class="item">
                            <span>Date</span>
                            <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatDate(sub_item.available_date_from)}} - {{formatDate(sub_item.available_date_to)}}</div>
                          </div>
                          <div class="item">
                            <span>Time</span>
                            <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatTime(sub_item.available_date_from)}} - {{formatTime(sub_item.available_date_to)}}</div>
                          </div>
                        </div>
                        <div class="agent">
                          <div class="agent-left">
                            <ion-item>
                              <!-- <ion-avatar slot="start">
                                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                              </ion-avatar> -->
                              <ion-label>
                                <h2>{{item.account.fullname}}</h2>
                                <p *ngIf="item.account.roles == 'agent'">{{item.account.cea_no}}</p>
                                <p *ngIf="item.account.roles !== 'agent'">Owner</p>
                              </ion-label>
                            </ion-item>
                          </div>
                          <div class="button">
                            <ion-button *ngIf="item.status == 0" (click)="publishAlert(item)" color="tertiary" size="small">Publish ({{publishCredit}} Credit)</ion-button>
                          </div>
                        </div>
                      </div>
                    </div>
                
              </div>
            </div>
            <div id="top-up-history" [hidden]="tabState !== 'top-up-history'" class="content top-up-history">
              <div class="list">
                <div *ngFor="let item of getTopupHistory()" class="item ion-padding">
                  <div class="left">
                    <div class="icon">
                      <ion-icon name="ios-arrow-round-forward"></ion-icon>
                    </div>
                    <div class="text">
                      <div class="top-up-name">Topup ${{item.topup_amount}}</div>
                      <div class="time">{{item.payment_dt_formatted}}</div>
                    </div>
                  </div>
                  <div class="right">
                    <ion-button size="small" class="green">+{{item.credit_amount}} CREDIT</ion-button>
                  </div>
                </div>
                <!-- <div class="item ion-padding">
                  <div class="left">
                    <div class="icon">
                      <ion-icon name="ios-arrow-round-forward"></ion-icon>
                    </div>
                    <div class="text">
                      <div class="top-up-name">Topup Name</div>
                      <div class="time">Today, 13:45 PM</div>
                    </div>
                  </div>
                  <div class="right">
                    <ion-button size="small" class="green">+10</ion-button>
                  </div>
                </div>
                <div class="item ion-padding">
                  <div class="left">
                    <div class="icon">
                      <ion-icon name="ios-arrow-round-forward"></ion-icon>
                    </div>
                    <div class="text">
                      <div class="top-up-name">Topup Name</div>
                      <div class="time">Today, 13:45 PM</div>
                    </div>
                  </div>
                  <div class="right">
                    <ion-button size="small" class="green">+10</ion-button>
                  </div>
                </div>
                <div class="item ion-padding">
                  <div class="left">
                    <div class="icon">
                      <ion-icon name="ios-arrow-round-forward"></ion-icon>
                    </div>
                    <div class="text">
                      <div class="top-up-name">Topup Name</div>
                      <div class="time">Today, 13:45 PM</div>
                    </div>
                  </div>
                  <div class="right">
                    <ion-button size="small" class="green">+10</ion-button>
                  </div>
                </div>
                <div class="item ion-padding">
                  <div class="left">
                    <div class="icon">
                      <ion-icon name="ios-arrow-round-forward"></ion-icon>
                    </div>
                    <div class="text">
                      <div class="top-up-name">Topup Name</div>
                      <div class="time">Today, 13:45 PM</div>
                    </div>
                  </div>
                  <div class="right">
                    <ion-button size="small" class="green">+10</ion-button>
                  </div>
                </div>
                <div class="item ion-padding">
                  <div class="left">
                    <div class="icon">
                      <ion-icon name="ios-arrow-round-forward"></ion-icon>
                    </div>
                    <div class="text">
                      <div class="top-up-name">Topup Name</div>
                      <div class="time">Today, 13:45 PM</div>
                    </div>
                  </div>
                  <div class="right">
                    <ion-button size="small" class="green">+10</ion-button>
                  </div>
                </div>
                <div class="item ion-padding">
                  <div class="left">
                    <div class="icon">
                      <ion-icon name="ios-arrow-round-forward"></ion-icon>
                    </div>
                    <div class="text">
                      <div class="top-up-name">Topup Name</div>
                      <div class="time">Today, 13:45 PM</div>
                    </div>
                  </div>
                  <div class="right">
                    <ion-button size="small" class="green">+10</ion-button>
                  </div>
                </div>
                <div class="item ion-padding">
                  <div class="left">
                    <div class="icon">
                      <ion-icon name="ios-arrow-round-forward"></ion-icon>
                    </div>
                    <div class="text">
                      <div class="top-up-name">Topup Name</div>
                      <div class="time">Today, 13:45 PM</div>
                    </div>
                  </div>
                  <div class="right">
                    <ion-button size="small" class="green">+10</ion-button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="{'show': showModal}" class="modal modal-tag-agent">
            <!-- modal show -->
            <div class="content-modal ion-padding">
              <div class="title">Tag Agents</div>
              <div class="close">
                <ion-button (click)="showModal = false" fill="clear">
                  <ion-icon name="ios-close-circle"></ion-icon>
                </ion-button>
              </div>
              <div class="content">
                <div class="items">
                  <div class="item item-title">
                    <div class="name">Name</div>
                    <div class="mobile">Mobile</div>
                  </div>
                  <div class="item">
                    <div class="check">
                      <ion-checkbox></ion-checkbox>
                    </div>
                    <ion-input value="Carolyn Martin"></ion-input>
                    <ion-input value="+65-855-5889-2"></ion-input>
                  </div>
                  <div class="item">
                    <div class="check">
                      <ion-checkbox></ion-checkbox>
                    </div>
                    <ion-input value="Carolyn Martin"></ion-input>
                    <ion-input value="+65-855-5889-2"></ion-input>
                  </div>
                  <div class="item">
                    <div class="check">
                      <ion-checkbox></ion-checkbox>
                    </div>
                    <ion-input value="Carolyn Martin"></ion-input>
                    <ion-input value="+65-855-5889-2"></ion-input>
                  </div>
                  <div class="item">
                    <div class="check">
                      <ion-checkbox></ion-checkbox>
                    </div>
                    <ion-input value="Carolyn Martin"></ion-input>
                    <ion-input value="+65-855-5889-2"></ion-input>
                  </div>
                  <div class="item">
                    <div class="check">
                      <ion-checkbox></ion-checkbox>
                    </div>
                    <ion-input value="Carolyn Martin"></ion-input>
                    <ion-input value="+65-855-5889-2"></ion-input>
                  </div>
                </div>
                <div class="create">
                  <div class="create-title">Create New Contact</div>
                  <ion-input placeholder="Enter Name"></ion-input>
                  <ion-input placeholder="Enter Number"></ion-input>
                </div>
                <div class="outer-button">
                  <ion-button (click)="showModal = false" expand="block">Add Tags</ion-button>
                </div>
              </div>
            </div>
          </div>
      </ion-content>