<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="content ion-padding">
      <div class="image">
        <img src="../../assets/images/illustrations.svg" alt="">
      </div>
      <div class="status">
        Payment Successful!
      </div>
      <div class="desc">
        Thanks for purchasing , Your credits now available on your balance
      </div>
      <div class="outer-button">
        <ion-button (click)="home()">Got it!</ion-button>
      </div>
    </div>
  </div>
</ion-content>