.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}
.content {
    width: 100%;
    text-align: center;
    .image {
        img {
            width: 150px;
        }
    }
    .status {
        font-size: 15px;
        color: var(--ion-color-main-text-dark);
        font-weight: 600;
        margin: 20px 0;
    }
    .desc {
        padding: 0 20px;
    }
    .outer-button {
        margin: 20px 0;
        ion-button {
            min-width: 100px;
        }
    }
}