.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.content {
  width: 100%;
  text-align: center;
}

.content .image img {
  width: 150px;
}

.content .status {
  font-size: 15px;
  color: var(--ion-color-main-text-dark);
  font-weight: 600;
  margin: 20px 0;
}

.content .desc {
  padding: 0 20px;
}

.content .outer-button {
  margin: 20px 0;
}

.content .outer-button ion-button {
  min-width: 100px;
}
