ion-content {
  background: var(--ion-color-blue-light);
}

.top-up-select-package h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.top-up-select-package .list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--ion-color-light);
}

.top-up-select-package .list .item .left {
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
}

.top-up-select-package .list .item .left .number {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  background: var(--ion-color-blue-light);
  color: var(--ion-color-primary);
  text-align: center;
  line-height: 38px;
  font-weight: 600;
  border-radius: 5px;
}

.top-up-select-package .list .item .left .text {
  width: calc(100% - 48px);
}

.top-up-select-package .list .item .left .text .top-up-name {
  font-weight: 600;
  color: var(--ion-color-main-text-dark);
  margin-bottom: 2px;
}

.top-up-select-package .list .item .left .text .package {
  font-size: 12px;
}

.top-up-select-package .list .item .right ion-button.blue {
  --background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.top-up-select-package .list .item .right ion-button.green {
  --background: var(--ion-color-green);
  color: var(--ion-color-success-contrast);
}

.top-up-select-package .list .item .right ion-button.orange {
  --background: var(--ion-color-warning);
  color: var(--ion-color-warning-contrast);
}

.top-up-select-package .list .item .right ion-button.red {
  --background: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
}
