ion-content {
    background: var(--ion-color-blue-light);
}
.top-up-select-package {
    h2 {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }
    .list {
        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--ion-color-light);
            .left {
                display: flex;
                align-items: center;
                width: calc(100% - 60px);
                .number {
                    width: 38px;
                    height: 38px;
                    margin-right: 10px;
                    background: var(--ion-color-blue-light);
                    color: var(--ion-color-primary);
                    text-align: center;
                    line-height: 38px;
                    font-weight: 600;
                    border-radius: 5px;
                }
                .text {
                    width: calc(100% - 48px);
                    .top-up-name {
                        font-weight: 600;
                        color: var(--ion-color-main-text-dark);
                        margin-bottom: 2px;
                    }
                    .package {
                        font-size: 12px;
                    }
                }
            }
            .right {
                ion-button {
                    &.blue {
                        --background: var(--ion-color-primary);
                        color: var(--ion-color-primary-contrast);
                    }
                    &.green {
                        --background: var(--ion-color-green);
                        color: var(--ion-color-success-contrast);
                    }
                    &.orange {
                        --background: var(--ion-color-warning);
                        color: var(--ion-color-warning-contrast);
                    }
                    &.red {
                        --background: var(--ion-color-danger);
                        color: var(--ion-color-danger-contrast);
                    }
                }
            }
        }
    }
}
