<ion-header no-border class="section">
  <ion-toolbar>
    <ion-title>
      Credits Topup
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content top-up-select-package">
    <h2 class="ion-padding section">Select Package</h2>
    <div class="list">
      <div *ngFor="let item of packages| keyvalue" (click)="select(item)" class="item ion-padding">
        <div class="left">
          <div class="number">{{key(item.key)}}</div>
          <div class="text">
            <div class="top-up-name">{{item.value.credit_amount}} Credits Balance</div>
            <div class="package">{{item.value.package}}</div>
          </div>
        </div>
        <div class="right">
          <ion-button size="small" class="blue">${{item.value.package_amount_price}}</ion-button>
        </div>
      </div>
      <!-- <div class="item ion-padding">
        <div class="left">
          <div class="number">2</div>
          <div class="text">
            <div class="top-up-name">200 Credits Balance</div>
            <div class="package">Package 2</div>
          </div>
        </div>
        <div class="right">
          <ion-button size="small" class="green">$250</ion-button>
        </div>
      </div>
      <div class="item ion-padding">
        <div class="left">
          <div class="number">3</div>
          <div class="text">
            <div class="top-up-name">300 Credits Balance</div>
            <div class="package">Package 3</div>
          </div>
        </div>
        <div class="right">
          <ion-button size="small" class="orange">$350</ion-button>
        </div>
      </div>
      <div class="item ion-padding">
        <div class="left">
          <div class="number">4</div>
          <div class="text">
            <div class="top-up-name">400 Credits Balance</div>
            <div class="package">Package 4</div>
          </div>
        </div>
        <div class="right">
          <ion-button size="small" class="red">$450</ion-button>
        </div>
      </div> -->
    </div>
  </div>
</ion-content>