<ion-header no-border class="section">
    <ion-toolbar>
      <ion-title>
        My Listing
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="section-tabs-content">
        <div class="section menu-tab ion-padding">
          <ion-segment>
            <ion-segment-button (click)="toggleTab('draft')" value="draft" [checked]="tabState == 'draft'">
              <ion-label>Draft Listing</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="toggleTab('publish')" value="publish" [checked]="tabState == 'publish'">
              <ion-label>Published Listing</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="content-tab">
          <!--Draft Listing-->
            <div id="my-listing-draft" [hidden]="tabState !== 'draft'" class="content my-listing ion-padding">
                <div class="section-listing">
                    <p *ngIf="draftListing.length == 0">No listing found.</p>
                    <div *ngFor="let item of draftListing" class="product-details">
                        <div class="label">
                          <ion-button size="small" color="medium">{{item.listing_type.toUpperCase()}}</ion-button>
                          <ion-button size="small" class="green">{{item.vacant_type}}</ion-button>
                          <ion-button size="small" class="orange" *ngIf="item.com_agent_profile !== ''">{{item.com_agent_profile}}% Comm</ion-button>
                          <ion-button (click)="edit(item)" fill="outline" color="primary" size="small">Draft </ion-button>
                          <ion-button (click)="edit(item)" fill="outline" color="secondary" size="small">Edit </ion-button>
                        </div>
                        <div class="description">
                          <div class="title-price">
                            <h2>{{item.property_name}}</h2>
                            <div class="price">S${{item.asking_price | number}}</div>
                          </div>
                          <div class="specification">
                            <div class="item">
                              <span class="label">Bedrooms</span>
                              <span class="value">{{item.no_of_rooms}}</span>
                            </div>
                            <!-- <div class="item">
                              <span class="label">Bathrooms</span>
                              <span class="value">2</span>
                            </div> -->
                            <div class="item">
                              <span class="label">{{item.floor_area}} sqft</span>
                            </div>
                          </div>
                          <div (click)="openBrowser(item.property_name, item.url)" class="url">
                            <span>URL: </span>
                            <a>{{item.url}}</a>
                          </div>
                          <div class="location">
                            <ion-icon name="md-pin"></ion-icon>
                            <span>{{item.address}}</span>
                          </div>
                          <div class="available-viewing-time">
                            <p>Confirmed view time</p>
                            <!-- <div class="item">
                              <span>Day</span>
                              <div class="value">Monday</div>
                            </div> -->
                            <div class="item">
                              <span>Date</span>
                              <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatDate(sub_item.available_date_from)}}</div>
                            </div>
                            <div class="item">
                              <span>Time</span>
                              <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatTime(sub_item.available_date_from)}} - {{formatTime(sub_item.available_date_to)}}</div>
                            </div>
                          </div>
                          <div class="agent">
                            <div class="agent-left">
                              <ion-item>
                                <!-- <ion-avatar slot="start">
                                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                                </ion-avatar> -->
                                <ion-label>
                                  <h2>{{item.account.fullname}}</h2>
                                  <p *ngIf="item.account.roles == 'agent'">{{item.account.cea_no}}</p>
                                  <p *ngIf="item.account.roles !== 'agent'">Owner</p>
                                </ion-label>
                              </ion-item>
                            </div>
                            <div class="button">
                                <ion-button (click)="tagAgent(item)" color="primary" size="small">Tag Agents</ion-button>

                              <ion-button (click)="publishAlert(item)" color="tertiary" size="small">Publish ({{publishCredit}} Credit)</ion-button>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                </div>
              </div>
            <!--Published Listing-->
            <div id="my-listing-published" [hidden]="tabState !== 'publish'" class="content my-listing ion-padding">
                <div class="section-listing">
                    <p *ngIf="publishListing.length == 0">No listing found.</p>
                    <div *ngFor="let item of publishListing" class="product-details">
                        <div class="label">
                            <ion-button size="small" color="medium">{{item.listing_type.toUpperCase()}}</ion-button>
                          <ion-button size="small" class="green">{{item.vacant_type}}</ion-button>
                          <ion-button size="small" class="orange" *ngIf="item.com_agent_profile !== ''">{{item.com_agent_profile}}% Comm</ion-button>
                          <ion-button fill="outline" color="success" size="small">Published </ion-button>
                          <ion-button (click)="edit(item)" *ngIf="item.status == 1" fill="outline" color="secondary" size="small">Edit </ion-button>
                        </div>
                        <div class="description">
                          <div class="title-price">
                            <h2>{{item.property_name}}</h2>
                            <div class="price">S${{item.asking_price | number}}</div>
                          </div>
                          <div class="specification">
                            <div class="item">
                              <span class="label">Bedrooms</span>
                              <span class="value">{{item.no_of_rooms}}</span>
                            </div>
                            <!-- <div class="item">
                              <span class="label">Bathrooms</span>
                              <span class="value">2</span>
                            </div> -->
                            <div class="item">
                              <span class="label">{{item.floor_area}} sqft</span>
                            </div>
                          </div>
                          <div (click)="openBrowser(item.property_name, item.url)" class="url">
                            <span>URL: </span>
                            <a>{{item.url}}</a>
                          </div>
                          <div class="location">
                            <ion-icon name="md-pin"></ion-icon>
                            <span>{{item.address}}</span>
                          </div>
                          <div class="available-viewing-time">
                            <p>Confirmed view time</p>
                            <!-- <div class="item">
                              <span>Day</span>
                              <div class="value">Monday</div>
                            </div> -->
                            <div class="item">
                              <span>Date</span>
                              <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatDate(sub_item.available_date_from)}}</div>
                            </div>
                            <div class="item">
                              <span>Time</span>
                              <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatTime(sub_item.available_date_from)}} - {{formatTime(sub_item.available_date_to)}}</div>
                            </div>
                          </div>
                          <div class="agent">
                            <div class="agent-left">
                              <ion-item>
                                <ion-label>
                                  <h2>{{item.account.fullname}}</h2>
                                  <p *ngIf="item.account.roles == 'agent'">{{item.account.cea_no}}</p>
                                  <p *ngIf="item.account.roles !== 'agent'">Owner</p>
                                </ion-label>
                              </ion-item>
                            </div>
                            <div class="button">
                              <ion-button *ngIf="item.status == 0" (click)="publishAlert(item)" color="tertiary" size="small">Publish ({{publishCredit}} Credit)</ion-button>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                </div>
              </div>
        </div>
    </div>
    <div [ngClass]="{'show': showModal}" class="modal modal-tag-agent">
      <!-- modal show -->
      <div class="content-modal ion-padding">
        <div class="title">Tag Agents</div>
        <div class="close">
          <ion-button (click)="showModal = false" fill="clear">
            <ion-icon name="ios-close-circle"></ion-icon>
          </ion-button>
        </div>
        <div  class="content">
          <div *ngIf="getTagAgents().length > 0" class="items">
            <div class="item item-title">
              <div class="name">Name</div>
              <div class="mobile">Mobile</div>
            </div>
            <div *ngFor="let item of getTagAgents()" class="item">
              <div class="check">
                <ion-checkbox name="tag_agents_box" [(ngModel)]="item.checked"></ion-checkbox>
              </div>
              <ion-input value="{{item.name}}"></ion-input>
              <ion-input value="{{item.mobile}}"></ion-input>
            </div>
            
          </div>
          <div class="create">
            <div class="create-title">Create New Contact</div>
            <ion-input name="formtag.name" [(ngModel)]="formtag.name" placeholder="Enter Name"></ion-input>
            <div class="prefix">+65</div>
            <ion-input type="number" name="formtag.number" [(ngModel)]="formtag.number" placeholder="Enter Number"></ion-input>
          </div>
          <div align="center" class="outer-button">
            <a (click)="addTag()">Add Tags</a>
            <br/><br/><br/>
            <ion-button color="tertiary" (click)="publish()" expand="block">SEND &amp; PUBLISH ({{publishCredit}} Credit)</ion-button>
          </div>
        </div>
      </div>
    </div>
</ion-content>
