.form {
    .multiple-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > ion-button {
            margin: 0;
            height: 20px;
        }
    }
}
ion-header {
    --background: var(--ion-color-primary);
    ion-toolbar {
        --background: var(--ion-color-primary);
        ion-title {
            color: var(--ion-color-primary-contrast);
        }
        ion-back-button {
            color: var(--ion-color-primary-contrast);
        }
    }
}
.section-account {
    background: var(--ion-color-primary);
    margin-bottom: 95px;
    padding-top: 40px;
    .wrapper-account {
        padding: 15px 20px;
        border-radius: 10px;
        background: var(--ion-color-primary-contrast);
        box-shadow: 0 8px 20px 0 rgba(91, 91, 91, 0.06);
        margin-bottom: -80px;
        .account {
            display: flex;
            align-items: flex-start;
            ion-avatar {
                position: relative;
                margin-right: 15px;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background: var(--ion-color-primary-contrast);
                box-shadow: 0 8px 20px 0 rgba(59,124,236,0.12);
                img {
                    height: 100%;;
                }
                .edit-photo {
                    border-radius: 50%;
                    background: var(--ion-color-primary-contrast);
                    position: absolute;
                    right: -5px;
                    bottom: -5px;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    ion-icon {
                        margin-top: 3px;
                    }
                }
            }
            .texts {
                width: calc(100% - 65px);
                .name {
                    font-size: 20px;
                    color: var(--ion-color-main-text-dark);
                    font-weight: 600;
                }
                .green {
                    --background: var(--ion-color-green);
                    color: var(--ion-color-success-contrast);
                    margin-bottom: 20px;
                }
                .purchase {
                    font-size: 16px;
                }
            }
        }
    }
}
.section-listing {
    .product-details {
        margin-bottom: 15px;
        .label {
            ion-button {
                &:last-child {
                    float: right;
                }
            }
        }
    }
}
.section-tabs-content {
    .menu-tab {
        padding-top: 0;
        padding-bottom: 0;

        ion-segment {
            ion-segment-button {
                color: var(--ion-color-main-text);
                --border-color: transparent;
                --background-activated: var(--ion-color-primary-contrast);
                --background-checked: var(--ion-color-primary-contrast);
                --color-checked: var(--ion-color-primary);
                border-bottom: 2px solid transparent;
                border-width: 0;
                min-height: 0;
                height: 50px;
                line-height: 50px;
                font-weight: 600;

                &.segment-button-checked {
                    color: var(--ion-color-primary);
                    border-bottom: 2px solid var(--ion-color-primary);
                }

                &:first-child,
                &:last-child {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
    .content-tab {

    }
}
.top-up-history {
    .list {
        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--ion-color-light);
            .left {
                display: flex;
                align-items: center;
                width: calc(100% - 60px);
                .icon {
                    width: 20px;
                    margin-right: 10px;
                    padding-top: 7px;
                    ion-icon {
                        color: var(--ion-color-primary);
                        transform: rotate(-40deg);
                        font-size: 26px;
                    }
                }
                .text {
                    width: calc(100% - 30px);
                    .top-up-name {
                        font-weight: 600;
                        color: var(--ion-color-main-text-dark);
                        margin-bottom: 2px;
                    }
                    .time {
                        font-size: 12px;
                    }
                }
            }
            .right {
                ion-button {
                    &.green {
                        --background: var(--ion-color-green);
                        color: var(--ion-color-success-contrast);
                    }
                }
            }
        }
    }
}
input[type=number]:before {
    content: "+65";
}
.prefix {
    margin-top: 10px;
    font-weight: bold;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 99;
    align-items: center;
    justify-content: center;
    &.show {
        display: flex;
    }
    .content-modal {
        background: var(--ion-color-primary-contrast);
        border-radius: 10px;
        width: calc(100% - 30px);
        position: relative;
        .close {
            position: absolute;
            top: 3px;
            right: 0px;
            ion-icon {
                font-size: 26px;
                color: var(--ion-color-light-shade);
            }
        }
        .title {
            font-weight: 600;
            font-size: 15px;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid var(--ion-color-light-shade);
            color: var(--ion-color-main-text-dark);
        }
        .content {
            ion-input {
                border-radius: 6px;
                --padding-top: 10px !important;
                --padding-bottom: 10px !important;
                --padding-start: 15px !important;
                --padding-end: 15px;
                border: 1px solid var(--ion-color-light);
                font-size: 14px;
            }
            .items {
                .item {
                    margin-bottom: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    ion-input {
                        margin: 0 2px;
                    }
                    &.item-title {
                        display: flex;
                        justify-content: flex-end;
                        color: var(--ion-color-main-text-dark);
                        font-weight: 600;
                        > div {
                            margin: 2px;
                            width: calc(50% - 17.5px);
                        }
                    }
                }
            }
            .create {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .create-title {
                    margin: 2px;
                    width: calc(100% - 4px);
                    font-weight: 600;
                    color: var(--ion-color-main-text-dark);
                }
                > ion-input {
                    margin: 2px;
                    width: calc(50% - 4px);
                }
            }
            .outer-button {
                margin-top: 20px;
            }
        }
    }
}