.section-logo {
    text-align: center;
    img {
        height: 55px;
    }
}
.multiple-input {
    display: flex;
    align-items: center;
    ion-input {
        width: calc(50% - 20px);
    }
    > span {
        width: 40px;
        text-align: center;
        font-size: 14px;
        color: var(--ion-color-main-text);
    }
}
