.section-logo {
  text-align: center;
}

.section-logo img {
  height: 55px;
}

.multiple-input {
  display: flex;
  align-items: center;
}

.multiple-input ion-input {
  width: calc(50% - 20px);
}

.multiple-input > span {
  width: 40px;
  text-align: center;
  font-size: 14px;
  color: var(--ion-color-main-text);
}
