<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-back-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper-login">
    <div class="section-logo">
      <img src="../../assets/images/logo.png" alt="">
    </div>
    <div class="form ion-padding">
      <div class="item">
        <ion-label position="stacked">What do you want?</ion-label>
        <ion-radio-group name="type" class="radio-form">
          <ion-item lines="none">
            <ion-label>
              <ion-icon name="ios-checkmark-circle"></ion-icon>
              <img src="../../assets/images/icon-pouch.svg" alt="">
              I want to buy
            </ion-label>
            <ion-radio name="mode" mode="ios" value="Property Agent" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <ion-icon name="ios-checkmark-circle"></ion-icon>
              <img src="../../assets/images/icon-recomended.svg" alt="">
              I want to rent
            </ion-label>
            <ion-radio name="mode" mode="ios" value="House Hunter"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <div class="item">
        <ion-label position="stacked">Housing Type</ion-label>
        <ion-select placeholder="Select Type">
          <ion-select-option value="Type 1">Type 1</ion-select-option>
          <ion-select-option value="Type 2">Type 2</ion-select-option>
        </ion-select>
      </div>
      <div class="item">
        <ion-label position="stacked">Budget</ion-label>
        <ion-select placeholder="Select Budget">
          <ion-select-option value="Budget 1">Budget 1</ion-select-option>
          <ion-select-option value="Budget 2">Budget 2</ion-select-option>
        </ion-select>
      </div>
      <div class="item">
        <ion-label position="stacked">Search by District</ion-label>
        <ion-select placeholder="Select District">
          <ion-select-option value="District 1">District 1</ion-select-option>
          <ion-select-option value="District 2">District 2</ion-select-option>
        </ion-select>
      </div>
      <div class="item">
        <ion-label position="stacked">Select Date</ion-label>
        <ion-input placeholder="23/7/2019"></ion-input>
      </div>
      <div class="item">
        <ion-label position="stacked">Time</ion-label>
        <div class="multiple-input">
          <ion-input placeholder="11 am"></ion-input>
          <span>To</span>
          <ion-input placeholder="1 pm"></ion-input>
        </div>
      </div>
      <div class="item">
        <ion-label position="stacked">Time</ion-label>
        <ion-select placeholder="Select Time">
          <ion-select-option value="Time 1">Time 1</ion-select-option>
          <ion-select-option value="Time 2">Time 2</ion-select-option>
        </ion-select>
      </div>
      
      <div class="item button">
        <ion-button expand="block">Save</ion-button>
      </div>
    </div>
  </div>
</ion-content>