/** Ionic CSS Variables **/
:root,
:root[mode='ios'],
:root[mode='md'] {
  --ion-font-family: 'Source Sans Pro', sans-serif;
  --ion-default-font: 'Source Sans Pro', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  --ion-color-main-text: #566782;
  --ion-color-main-text-dark: #566782;
  --ion-color-blue-light: rgb(248, 251, 255);
  --ion-color-green: rgb(0, 168, 128);
  --ion-color-orange: rgb(239, 138, 55);
  /** primary **/
  --ion-color-primary: #305171;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #305171;
  --ion-color-primary-tint: #305171;
  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;
  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;
  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;
  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;
  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/* BEGIN Regular */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Regular.eot");
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"), url("../assets/fonts/SourceSansPro/SourceSansPro-Regular.svg#NunitoSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* END Regular */
/* BEGIN Semibold */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Semibold.eot");
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SourceSansPro/SourceSansPro-Semibold.woff") format("woff"), url("../assets/fonts/SourceSansPro/SourceSansPro-Semibold.ttf") format("truetype"), url("../assets/fonts/SourceSansPro/SourceSansPro-Semibold.svg#NunitoSansSemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* END Semibold */
/* BEGIN Bold */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Bold.eot");
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype"), url("../assets/fonts/SourceSansPro/SourceSansPro-Bold.svg#NunitoSansBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* END Bold */
