<ion-header no-border class="section">
  <ion-toolbar>
    <ion-title>
      Forgot Password
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper-login">
    <div class="alert alert-success ion-padding">
      Success! <br /> Password Changed.
    </div>
    <div class="alert alert-danger ion-padding">
      Failed! <br /> Invalid email or password.
    </div>
    <div class="form ion-padding">
      <div class="item">
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="Enter your email"></ion-input>
      </div>
      <div class="item">
        <ion-label position="stacked" class="multiple-label">
          New Password
          <ion-button fill="clear" size="small">Show</ion-button>
        </ion-label>
        <ion-input type="password" placeholder="Enter your new password"></ion-input>
      </div>
      <div class="item">
        <ion-label position="stacked">Confirm Passowrd</ion-label>
        <ion-input type="password" placeholder="Please confirm your password"></ion-input>
      </div>
      <div class="item button">
        <ion-button expand="block">Reset Password</ion-button>
      </div>
    </div>
  </div>
</ion-content>