.alert {
  font-weight: 600;
}

.alert.alert-success {
  color: var(--ion-color-success-contrast);
  background: var(--ion-color-green);
}

.alert.alert-danger {
  color: var(--ion-color-danger-contrast);
  background: var(--ion-color-danger);
}

.form .item.button {
  margin-top: 30px;
}
