<ion-header no-border class="section">
    <ion-toolbar>
      <ion-title>
        Account Details
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
      <form (ngSubmit)="updateProfile()">
          <div class="form form-filter">
            <div class="item">
              <ion-label position="stacked">Full Name</ion-label>
              <ion-input name="fullname" [(ngModel)]="form.fullname" placeholder=""></ion-input>
            </div>
            <div [hidden]="getUserData().roles !== 'agent'" class="item">
              <ion-label position="stacked">CEA No</ion-label>
              <ion-input name="cea_no" [(ngModel)]="form.cea_no" placeholder="CEA No"></ion-input>
            </div>
            <div [hidden]="getUserData().roles !== 'agent'" class="item">
              <ion-label position="stacked">Agency</ion-label>
              <ion-input name="agency" [(ngModel)]="form.agency" placeholder="" ></ion-input>
            </div>
            <div class="item">
              <ion-label position="stacked">Email</ion-label>
              <ion-input name="email" [(ngModel)]="form.email" placeholder="Email Address"></ion-input>
            </div>
            <div class="item">
              <ion-label position="stacked">Mobile No <span class="required">*</span></ion-label>
              <div style="position:absolute;" class="prefix">+65</div> <ion-input type="tel" style="margin-left:30px;width:90%;" name="mobile" [(ngModel)]="form.mobile" placeholder="Enter your mobile number"></ion-input>
            </div>
            <div class="item">
              <ion-label position="stacked" class="multiple-label">
                Password
                <!-- <ion-button fill="clear" size="small">Show</ion-button> -->
              </ion-label>
              <ion-input type="password" name="password" [(ngModel)]="form.password" placeholder="New Password"></ion-input>
            </div>
            <div class="item">
              <ion-label position="stacked">Confirm Password</ion-label>
              <ion-input type="password" name="confirm_password" [(ngModel)]="form.confirm_password" placeholder="Confirm New Password"></ion-input>
            </div>
            <div class="item">
              <ion-button type="submit" expand="block">Update Profile</ion-button>
            </div>
          </div>
          </form>
  </ion-content>