.payment-details {
    h2 {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }
    .list {
        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left {
                display: flex;
                align-items: center;
                width: calc(100% - 60px);
                .number {
                    width: 38px;
                    height: 38px;
                    margin-right: 10px;
                    background: var(--ion-color-blue-light);
                    color: var(--ion-color-primary);
                    text-align: center;
                    line-height: 38px;
                    font-weight: 600;
                    border-radius: 5px;
                }
                .text {
                    width: calc(100% - 48px);
                    .top-up-name {
                        font-weight: 600;
                        color: var(--ion-color-main-text-dark);
                        margin-bottom: 2px;
                    }
                    .package {
                        font-size: 12px;
                    }
                }
            }
            .right {
                ion-button {
                    &.blue {
                        --background: var(--ion-color-primary);
                        color: var(--ion-color-primary-contrast);
                    }
                    &.green {
                        --background: var(--ion-color-green);
                        color: var(--ion-color-success-contrast);
                    }
                    &.orange {
                        --background: var(--ion-color-warning);
                        color: var(--ion-color-warning-contrast);
                    }
                    &.red {
                        --background: var(--ion-color-danger);
                        color: var(--ion-color-danger-contrast);
                    }
                }
            }
        }
    }
    .or-with-card {
        margin-top: 5px;
        .or {
            text-align: center;
            margin-bottom: 30px !important;
            position: relative;
            width: 110px;
            margin: 0 auto;
            &:before, &:after {
                content: '';
                width: 40px;
                height: 1px;
                background-color: var(--ion-color-light-shade);
                position: absolute;
                top: 50%;
            }
            &:before {
                left: -40px;
            }
            &:after {
                right: -40px
            }
        }
        .form {
            .item {
                &.cards {
                    .outer-input {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        ion-input {
                            &:nth-of-type(1) {
                                flex-basis: 100%;
                                border-radius: 6px 6px 0 0;
                                margin-bottom: -1px;
                                padding-right: 105px !important;
                            }
                            &:nth-of-type(2) {
                                flex-basis: 50%;
                                border-radius: 0 0 0 6px;
                            }
                            &:nth-of-type(3) {
                                flex-basis: 50%;
                                border-radius: 0 0 6px 0;
                            }
                        }
                        .cards-logo {
                            position: absolute;
                            top: 6px;
                            right: 10px;
                            display: flex;
                            img {
                                margin:2px;
                                height: 24px;
                            }
                        } 
                    }
                }
                &.country {
                    ion-select {
                        border-radius: 6px 6px 0 0;
                        margin-bottom: -1px;
                    }
                    ion-input {
                        border-radius: 0 0 6px 6px;
                    }
                }
            }
            .wrapper-button {
                margin-top: 30px;
            }
        }
    }
}
.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }