.payment-details h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.payment-details .list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-details .list .item .left {
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
}

.payment-details .list .item .left .number {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  background: var(--ion-color-blue-light);
  color: var(--ion-color-primary);
  text-align: center;
  line-height: 38px;
  font-weight: 600;
  border-radius: 5px;
}

.payment-details .list .item .left .text {
  width: calc(100% - 48px);
}

.payment-details .list .item .left .text .top-up-name {
  font-weight: 600;
  color: var(--ion-color-main-text-dark);
  margin-bottom: 2px;
}

.payment-details .list .item .left .text .package {
  font-size: 12px;
}

.payment-details .list .item .right ion-button.blue {
  --background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.payment-details .list .item .right ion-button.green {
  --background: var(--ion-color-green);
  color: var(--ion-color-success-contrast);
}

.payment-details .list .item .right ion-button.orange {
  --background: var(--ion-color-warning);
  color: var(--ion-color-warning-contrast);
}

.payment-details .list .item .right ion-button.red {
  --background: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
}

.payment-details .or-with-card {
  margin-top: 5px;
}

.payment-details .or-with-card .or {
  text-align: center;
  margin-bottom: 30px !important;
  position: relative;
  width: 110px;
  margin: 0 auto;
}

.payment-details .or-with-card .or:before, .payment-details .or-with-card .or:after {
  content: '';
  width: 40px;
  height: 1px;
  background-color: var(--ion-color-light-shade);
  position: absolute;
  top: 50%;
}

.payment-details .or-with-card .or:before {
  left: -40px;
}

.payment-details .or-with-card .or:after {
  right: -40px;
}

.payment-details .or-with-card .form .item.cards .outer-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.payment-details .or-with-card .form .item.cards .outer-input ion-input:nth-of-type(1) {
  flex-basis: 100%;
  border-radius: 6px 6px 0 0;
  margin-bottom: -1px;
  padding-right: 105px !important;
}

.payment-details .or-with-card .form .item.cards .outer-input ion-input:nth-of-type(2) {
  flex-basis: 50%;
  border-radius: 0 0 0 6px;
}

.payment-details .or-with-card .form .item.cards .outer-input ion-input:nth-of-type(3) {
  flex-basis: 50%;
  border-radius: 0 0 6px 0;
}

.payment-details .or-with-card .form .item.cards .outer-input .cards-logo {
  position: absolute;
  top: 6px;
  right: 10px;
  display: flex;
}

.payment-details .or-with-card .form .item.cards .outer-input .cards-logo img {
  margin: 2px;
  height: 24px;
}

.payment-details .or-with-card .form .item.country ion-select {
  border-radius: 6px 6px 0 0;
  margin-bottom: -1px;
}

.payment-details .or-with-card .form .item.country ion-input {
  border-radius: 0 0 6px 6px;
}

.payment-details .or-with-card .form .wrapper-button {
  margin-top: 30px;
}
