<ion-header no-border class="section">
  <ion-toolbar>
    <ion-title>
      Payment Details
    </ion-title>
    <ion-buttons slot="secondary">
        <ion-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content payment-details">
    <h2 class="ion-padding">Selected Package: </h2>
    <div class="list">
      <div class="item ion-padding">
        <div class="left">
          <div class="number">1</div>
          <div class="text">
            <div class="top-up-name">{{getSelectedPackage().credit_amount}} Credits Balance</div>
            <div class="package">{{getSelectedPackage().package}}</div>
          </div>
        </div>
        <div class="right">
          <ion-button size="small" class="blue">${{getSelectedPackage().topup_amount}}</ion-button>
        </div>
      </div>
    </div>
    <!-- <div class="wrapper-button ion-padding">
      <ion-button expand="block">
        <ion-icon name="logo-apple"></ion-icon> Pay
      </ion-button>
    </div> -->
    <div class="or-with-card ion-padding">
      <div class="or">Pay with card</div>
      <div class="form">
        <form id="payment-form">
          <div class="form-row">
            <label for="card-element">
              <!-- Credit or Debit Card Details -->
              
            </label>
            <div class="cards-logo">
                <img src="../../assets/images/card-visa.svg" alt="">
                <img src="../../assets/images/card-master-card.svg" alt="">
                <img src="../../assets/images/card-paypal.svg" alt="">
              </div>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
            <br/>
            <div class="item">
                <ion-label position="stacked">Name on Card</ion-label>
                <div class="outer-input">
                  <ion-input placeholder="Enter your name"></ion-input>
                </div>
              </div>
          </div>
          <div class="wrapper-button">
            <ion-button type="submit" expand="block">Pay Now</ion-button>
          </div>
        </form>
      </div>
      
      <!-- <div class="form">
        <div class="item cards">
          <ion-label position="stacked">Card Details</ion-label>
          <div class="outer-input">
            <ion-input placeholder="1234 - 1234 - 1234 - 1234"></ion-input>
            <ion-input placeholder="MM / YY"></ion-input>
            <ion-input placeholder="CVC"></ion-input>
            <div class="cards-logo">
              <img src="../../assets/images/card-visa.svg" alt="">
              <img src="../../assets/images/card-master-card.svg" alt="">
              <img src="../../assets/images/card-paypal.svg" alt="">
            </div>
          </div>
        </div>
        
        <div class="item country">
          <ion-label position="stacked">Country or Regian</ion-label>
          <div class="outer-input">
            <ion-select placeholder="Select Country or Region">
              <ion-select-option value="Country 1">Country 1</ion-select-option>
              <ion-select-option value="Country 2">Country 2</ion-select-option>
            </ion-select>
            <ion-input placeholder="Zip Code"></ion-input>
          </div>
        </div>
        <div class="wrapper-button">
          <ion-button routerLink="/payment-process" expand="block">Pay Now</ion-button>
        </div>
      </div> -->
    </div>
  </div>
</ion-content>