<ion-header no-border class="section">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/images/logo.png" alt="">
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button fill="clear" size="small">Add Filter</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-filter ion-padding">
    <div class="title" (click)="toggle()"><a>Filter By Date <span style="float:right"><ion-icon *ngIf="toggleFilter" mode="md" name="arrow-dropdown"></ion-icon><ion-icon *ngIf="!toggleFilter" mode="md" name="arrow-dropup"></ion-icon></span></a></div>
    <hr/>
    <div [hidden]="!toggleFilter" class="form form-filter">
      <div class="item">
        <ion-label position="stacked">Property Type</ion-label>
        <ion-select placeholder="Select Type">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option value="hdb">HDB</ion-select-option>
          <ion-select-option value="condo">Condo</ion-select-option>
          <ion-select-option value="landed">Landed</ion-select-option>
        </ion-select>
      </div>
      <div class="item">
        <ion-label position="stacked">Select Date</ion-label>
        <ion-datetime name="start_date" display-format="DDD, DD MMM YY" picker-format="DDD, DD MMM YY" [(ngModel)]="startDate" placeholder="Select Date"></ion-datetime>
      </div>
      <div class="item">
        <ion-label class="multiple-label" position="stacked">
          Time
          <div class="check">
            <ion-checkbox></ion-checkbox><span>All Day</span>
          </div>
        </ion-label>
        <div class="multiple-input">
            <ion-datetime name="start_time" display-format="HH:mm a" picker-format="HH:mm a" [(ngModel)]="startTime"></ion-datetime>
          <span>To</span>
          <ion-datetime name="end_time" display-format="HH:mm a" picker-format="HH:mm a" [(ngModel)]="endTime"></ion-datetime>
        </div>
      </div>
      <ion-button type="button" size="small" color="primary" expand="full">Filter</ion-button>
    </div>
  </div>
  <div class="section-listing ion-padding">
      <div *ngFor="let item of getListing()" class="product-details">
          <div class="label">
            <ion-button size="small" class="green">{{item.vacant_type}}</ion-button>
            <ion-button size="small" class="orange" *ngIf="item.com_agent_profile !== ''">{{item.com_agent_profile}}% Comm</ion-button>
          </div>
          <div class="description">
            <div class="title-price">
              <h2>{{item.property_name}}</h2>
              <div class="price">S${{item.asking_price | number}}</div>
            </div>
            <div class="specification">
              <div class="item">
                <span class="label">Bedrooms</span>
                <span class="value">{{item.no_of_rooms}}</span>
              </div>
              <!-- <div class="item">
                <span class="label">Bathrooms</span>
                <span class="value">2</span>
              </div> -->
              <div class="item">
                <span class="label">{{item.floor_area}} sqft</span>
              </div>
            </div>
            <div (click)="openBrowser(item.property_name, item.url)" class="url">
              <span>URL: </span>
              <a>{{item.url}}</a>
            </div>
            <div class="location">
              <ion-icon name="md-pin"></ion-icon>
              <span>{{item.address}}</span>
            </div>
            <div class="available-viewing-time">
              <p>Confirmed view time</p>
              <!-- <div class="item">
                <span>Day</span>
                <div class="value">Monday</div>
              </div> -->
              <div class="item">
                <span>Date</span>
                <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatDate(sub_item.available_date_from)}} - {{formatDate(sub_item.available_date_to)}}</div>
              </div>
              <div class="item">
                <span>Time</span>
                <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatTime(sub_item.available_date_from)}} - {{formatTime(sub_item.available_date_to)}}</div>
              </div>
            </div>
            <div class="agent">
              <div class="agent-left">
                <ion-item>
                  <!-- <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar> -->
                  <ion-label>
                    <h2>{{item.account.fullname}}</h2>
                    <p *ngIf="item.account.roles == 'agent'">{{item.account.cea_no}}</p>
                    <p *ngIf="item.account.roles !== 'agent'">Owner</p>
                  </ion-label>
                </ion-item>
              </div>
              <div class="button">
                <ion-button (click)="sendRequest(item)" size="small">Contact Now</ion-button>
              </div>
            </div>
          </div>
        </div>
  </div>
</ion-content>
  