ion-header {
    ion-toolbar {
        --min-height: 60px;
    }
    ion-title {
        img {
            height: 34px;
        }
    }
}
ion-content {
    --background: var(--ion-color-blue-light);
}
.section {
    background: var(--ion-color-primary-contrast); 
}
.section-filter {
    .title {
        font-size: 16px;
        color: var(--ion-color-main-text-dark);
        margin-bottom: 10px;
    }
}
.section-listing {
    .product-details {
        background: var(--ion-color-primary-contrast);
        margin-bottom: 15px;
    }
}
.form {
    .multiple-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .multiple-input {
        display: flex;
        align-items: center;
        ion-input {
            width: calc(50% - 20px);
        }
        > span {
            width: 40px;
            text-align: center;
            font-size: 14px;
            color: var(--ion-color-main-text);
        }
    }
}
