
  <ion-header translucent>
      <ion-toolbar>
        <ion-title>Search Property</ion-title>
        <ion-buttons slot="secondary">
            <ion-button (click)="close()"><ion-icon style="font-size:18px;" name="close"></ion-icon> Close</ion-button>
          </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar (ionInput)="search($event)" (ionCancel)="cancel()" showCancelButton="never" mode="ios"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  <ion-content>
    <div class="form ion-padding">
        <ion-list>
            <ion-item (click)="select(item)" *ngFor="let item of getResults()" lines="inset" detail="true" >
              <ion-label>
                  <h3><span *ngIf="item.BLK_NO !== ''">{{item.BLK_NO}},</span> {{item.BUILDING}}</h3>
                  <p>{{item.ADDRESS}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
    </div>
  </ion-content>