<ion-header no-border>
    <ion-toolbar>
      <ion-title>
        Location
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="close()"><ion-icon style="font-size:18px;" name="close"></ion-icon> Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="form ion-padding">
        <ion-list *ngIf="getSelectedPropertyType() !== 'hdb'">
            <ion-item lines="inset" detail="true" (click)="select(item)" *ngFor="let item of getDistrict() | keyvalue">
              <ion-label>
                {{item.value}}
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="getSelectedPropertyType() == 'hdb'">
              <ion-item detail="true" lines="inset" (click)="select(item)" *ngFor="let item of getHdbStates() | keyvalue">
                <ion-label>
                  {{item.value}}
                </ion-label>
              </ion-item>
            </ion-list>
    </div>
  </ion-content>