<ion-header no-border class="section">
    <ion-toolbar>
      <ion-title>
          Input your available time viewing
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="close()" routerDirection="back" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
  <div class="ion-padding">
      <ion-list>
          <ion-item lines="inset" detail="true">
            <ion-label>Start Date Time</ion-label>
            <div (click)="openDatepicker()">{{startDate}}</div>
          </ion-item>
          <!-- <ion-item lines="inset" detail="true">
            <ion-label>Start Time</ion-label>
            <ion-datetime name="start_time" display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="startTime"></ion-datetime>
          </ion-item> -->
          <!-- <ion-item lines="inset" detail="true">
            <ion-label>End Date</ion-label>
            <ion-datetime name="end_date" [(ngModel)]="endDate" placeholder="Select Date"></ion-datetime>
          </ion-item> -->
          <ion-item lines="inset" detail="true">
            <!-- <ion-label>End Time</ion-label> -->
            <!-- <ion-datetime name="end_time" [(ngModel)]="endTime" display-format="HH:mm" picker-format="HH:mm" ></ion-datetime> -->
            <ion-label>Duration</ion-label>
              <ion-select (ionChange)="updateEndTime($event)"  value="1" name="endtime" [(ngModel)]="duration" okText="Select" cancelText="Dismiss">
                <ion-select-option value="1">1 Hour</ion-select-option>
                <ion-select-option value="2">2 Hours</ion-select-option>
              </ion-select>
          </ion-item>
      </ion-list>
      <ion-button (click)="add()" color="primary" expand="full">Add</ion-button>

  </div>
    
</ion-content>
