<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      List Property Details
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form ion-padding">
    <form (ngSubmit)="submit()">
    <div class="section section-view-by-type">
        <div class="title">Select Property Type</div>
        <div class="choose">
            <ion-radio-group (ionChange)="propertyTypeChange($event)" [(ngModel)]="form.property_type" name="view_by_type">
            <ion-item afor lines="none" class="dot">
                <ion-label>HDB</ion-label>
                <ion-radio name="mode" mode="ios" value="hdb"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="dot">
                <ion-label>Condo</ion-label>
                <ion-radio name="mode" mode="ios" value="condo"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="dot">
                <ion-label>Landed</ion-label>
                <ion-radio name="mode" mode="ios" value="landed"></ion-radio>
            </ion-item>
            </ion-radio-group>
        </div>
    </div>
    <div class="item">
        <ion-label position="stacked">{{label_display}}</ion-label>
        <div class="title" style="border: 1px solid #ccc;padding: 10px;border-radius: 5px;" *ngIf="form.property_name !== ''" (click)="presentModalProperty()">{{form.property_name}}</div>
        <div class="title" style="border: 1px solid #ccc;padding: 10px;border-radius: 5px;" *ngIf="form.property_name == ''" (click)="presentModalProperty()">Search {{label_display}} ...</div>
        <!-- <ion-input (click)="presentModalProperty()" name="property_name" [(ngModel)]="form.property_name" placeholder="Search Property" [disabled]="true"></ion-input> -->
    </div>
    
    <div [hidden]="form.property_name == ''">
        <div class="item">
            <ion-label position="stacked">Address</ion-label>
            <ion-textarea name="address" [(ngModel)]="form.address" placeholder="Select Address"></ion-textarea>
    
        </div>
        <div class="item">
            <ion-label position="stacked">Postal Code</ion-label>
            <ion-input name="postal_code" [(ngModel)]="form.postal" placeholder="Select Postal Code"></ion-input>
    
        </div>
        <!-- <div class="item">
            <ion-label position="stacked">Highlight</ion-label>
            <ion-textarea name="Highlight" [(ngModel)]="form.highlight" placeholder="Key in your property highlight to improve your listing value"></ion-textarea>
            <div (click)="selectHighlight(item.key, item.value)" [ngClass]="{'selected': item.value.selected == 1}" *ngFor="let item of highlights | keyvalue" class="highlight-item">
              {{item.value.keyword}}
            </div>
        </div> -->
        <div *ngIf="form.property_type == 'hdb'" class="item">
            <ion-label  position="stacked">HDB Type</ion-label>
            <div class="section section-view-by-type">
                <!-- <div class="title">View by Type</div> -->
                <div class="choose">
                    <ion-radio-group [(ngModel)]="form.hdb_type" name="hdb_type">
                    <ion-item afor lines="none" class="dot">
                        <ion-label>2 Room Flexi</ion-label>
                        <ion-radio name="mode" mode="ios" value="2-room-flexi"></ion-radio>
                    </ion-item>
                    <ion-item lines="none" class="dot">
                        <ion-label>3-Room</ion-label>
                        <ion-radio name="mode" mode="ios" value="3-room"></ion-radio>
                    </ion-item>
                    <ion-item lines="none" class="dot">
                        <ion-label>4-Room</ion-label>
                        <ion-radio name="mode" mode="ios" value="4-room"></ion-radio>
                    </ion-item>
                    <ion-item lines="none" class="dot">
                        <ion-label>5-Room</ion-label>
                        <ion-radio name="mode" mode="ios" value="5-room"></ion-radio>
                    </ion-item>
                    <ion-item lines="none" class="dot">
                        <ion-label>3Gen</ion-label>
                        <ion-radio name="mode" mode="ios" value="3Gen"></ion-radio>
                    </ion-item>
                    <ion-item lines="none" class="dot">
                        <ion-label>Executive Flat</ion-label>
                        <ion-radio name="mode" mode="ios" value="Executive Flat"></ion-radio>
                    </ion-item>
                    </ion-radio-group>
                </div>
            </div>
          </div>
        <div class="item">
            <ion-label  position="stacked">Listing Type</ion-label>
            <div class="section section-view-by-type">
                <!-- <div class="title">View by Type</div> -->
                <div class="choose">
                    <ion-radio-group [(ngModel)]="form.listing_type" name="listing_type">
                    <ion-item afor lines="none" class="dot">
                        <ion-label>Sale</ion-label>
                        <ion-radio name="mode" mode="ios" value="sale"></ion-radio>
                    </ion-item>
                    <ion-item lines="none" class="dot">
                        <ion-label>Rent</ion-label>
                        <ion-radio name="mode" mode="ios" value="rent"></ion-radio>
                    </ion-item>
                    </ion-radio-group>
                </div>
            </div>
          </div>
          <div class="item">
              <ion-label position="stacked">Location</ion-label>
              <!-- <ion-input (click)="presentModal()" name="location" [(ngModel)]="location_display" placeholder="Select Location" [disabled]="true"></ion-input> -->
              <div class="title" style="color:lightsalmon;border: 1px solid #ccc;padding: 10px;border-radius: 5px;" *ngIf="form.location !== ''" (click)="presentModal()">{{location_display}}</div>
              <div class="title" style="color:lightsalmon;border: 1px solid #ccc;padding: 10px;border-radius: 5px;" *ngIf="form.location == ''" (click)="presentModal()">Select Location ...</div>
          </div>
          
          <div class="item">
            <ion-label position="stacked">Floor Area (<span *ngIf="form.property_type !== 'hdb'">SQFT</span> <span *ngIf="form.property_type == 'hdb'">SQM</span>)</ion-label>
            <ion-input type="tel" name="floor_area" [(ngModel)]="form.floor_area" placeholder="Enter floor area"></ion-input>
          </div>
          <div class="item">
            <ion-label position="stacked">Number Of Rooms</ion-label>
            <ion-input type="tel" name="number_of_rooms" [(ngModel)]="form.number_of_rooms" placeholder="Enter number of rooms"></ion-input>
          </div>
          <div class="item">
            <ion-label position="stacked">URL <a (click)="browse()">(click to browse)</a></ion-label>
            <ion-input name="url" [(ngModel)]="form.url" placeholder="Enter URL"></ion-input>
          </div>
          <div class="item">
            <ion-label position="stacked">Current Occupancy</ion-label>
            <!-- <ion-select name="Vacant" [(ngModel)]="form.vacant_type" placeholder="Select Vacant Type">
                <ion-select-option value="Vacant">Vacant</ion-select-option>
                <ion-select-option value="Tenant">Tenant</ion-select-option>
                <ion-select-option value="Owner Stay">Owner Stay</ion-select-option>
            </ion-select> -->
            <div *ngFor="let entry of vacant">
                <div class="checkbox-wrapper">
                  <ion-checkbox class="vacant-checkbox" name="vacanty" slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                  <span>{{entry.val}}</span>
              </div>
            </div>
          </div>
          <div class="item">
            <ion-label position="stacked">Asking Price (SGD$)</ion-label>
            <ion-input type="tel" name="asking_price" [(ngModel)]="form.asking_price" placeholder="Enter Price"></ion-input>
          </div>
          <div [hidden]="getUserData().roles !== 'agent'" class="item">
            <ion-label position="stacked">% Comm</ion-label>
            <ion-input type="tel" name="com_agent_profile" [(ngModel)]="form.com_agent_profile" placeholder="Enter %Comm"></ion-input>
          </div>
          <div class="item" align="center">
            <a (click)="presentModalInputTime()" color="secondary"><ion-icon name=""></ion-icon><ion-icon name="add"></ion-icon> Add Viewing Time</a>
          </div>
          <div class="item-time"><br/>
            <div class="wrapper-time" align="center" *ngFor="let item of getAvailableTimeViewing() | keyvalue">
              <div style="font-weight:normal;font-size:14px;text-align: center;clear:both;color:lightseagreen;">
                {{item.value.display}} <ion-icon (click)="remove(item.key)" style="float:right;color:#f00;font-size:25px;" name="close"></ion-icon>
              </div>
            </div>
          </div>
          <div class="item">
            <ion-label position="stacked">Expected Close</ion-label>
            <ion-select name="expected_close" [(ngModel)]="form.expected_close" placeholder="Expected Close">
                <ion-select-option value="">Select Month</ion-select-option>
                <ion-select-option *ngFor="let item of this._utilitiesService.months" value="{{item.text}}">{{item.text}}</ion-select-option>
            </ion-select>
          </div>
          <div class="item">
              <ion-button type="submit" expand="block">Save</ion-button>
          </div>
    </div>
    
    
  </form>
  </div>
</ion-content>