<ion-header no-border class="section">
    <ion-toolbar>
      <ion-title>
        Top Up History
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div id="top-up-history" class="content top-up-history">
        <div class="list">
          <div *ngFor="let item of getTopupHistory()" class="item ion-padding">
            <div class="left">
              <div class="icon">
                <ion-icon name="ios-arrow-round-forward"></ion-icon>
              </div>
              <div class="text">
                <div class="top-up-name">Topup ${{item.topup_amount}}</div>
                <div class="time">{{item.payment_dt_formatted}}</div>
              </div>
            </div>
            <div class="right">
              <ion-button size="small" class="green">+{{item.credit_amount}} CREDIT</ion-button>
            </div>
          </div>
          <!-- <div class="item ion-padding">
            <div class="left">
              <div class="icon">
                <ion-icon name="ios-arrow-round-forward"></ion-icon>
              </div>
              <div class="text">
                <div class="top-up-name">Topup Name</div>
                <div class="time">Today, 13:45 PM</div>
              </div>
            </div>
            <div class="right">
              <ion-button size="small" class="green">+10</ion-button>
            </div>
          </div>
          <div class="item ion-padding">
            <div class="left">
              <div class="icon">
                <ion-icon name="ios-arrow-round-forward"></ion-icon>
              </div>
              <div class="text">
                <div class="top-up-name">Topup Name</div>
                <div class="time">Today, 13:45 PM</div>
              </div>
            </div>
            <div class="right">
              <ion-button size="small" class="green">+10</ion-button>
            </div>
          </div>
          <div class="item ion-padding">
            <div class="left">
              <div class="icon">
                <ion-icon name="ios-arrow-round-forward"></ion-icon>
              </div>
              <div class="text">
                <div class="top-up-name">Topup Name</div>
                <div class="time">Today, 13:45 PM</div>
              </div>
            </div>
            <div class="right">
              <ion-button size="small" class="green">+10</ion-button>
            </div>
          </div>
          <div class="item ion-padding">
            <div class="left">
              <div class="icon">
                <ion-icon name="ios-arrow-round-forward"></ion-icon>
              </div>
              <div class="text">
                <div class="top-up-name">Topup Name</div>
                <div class="time">Today, 13:45 PM</div>
              </div>
            </div>
            <div class="right">
              <ion-button size="small" class="green">+10</ion-button>
            </div>
          </div>
          <div class="item ion-padding">
            <div class="left">
              <div class="icon">
                <ion-icon name="ios-arrow-round-forward"></ion-icon>
              </div>
              <div class="text">
                <div class="top-up-name">Topup Name</div>
                <div class="time">Today, 13:45 PM</div>
              </div>
            </div>
            <div class="right">
              <ion-button size="small" class="green">+10</ion-button>
            </div>
          </div>
          <div class="item ion-padding">
            <div class="left">
              <div class="icon">
                <ion-icon name="ios-arrow-round-forward"></ion-icon>
              </div>
              <div class="text">
                <div class="top-up-name">Topup Name</div>
                <div class="time">Today, 13:45 PM</div>
              </div>
            </div>
            <div class="right">
              <ion-button size="small" class="green">+10</ion-button>
            </div>
          </div>
          <div class="item ion-padding">
            <div class="left">
              <div class="icon">
                <ion-icon name="ios-arrow-round-forward"></ion-icon>
              </div>
              <div class="text">
                <div class="top-up-name">Topup Name</div>
                <div class="time">Today, 13:45 PM</div>
              </div>
            </div>
            <div class="right">
              <ion-button size="small" class="green">+10</ion-button>
            </div>
          </div> -->
        </div>
      </div>
</ion-content>
