.section-request {
    .title {
        font-size: 16px;
        color: var(--ion-color-main-text-dark);
        margin-bottom: 10px;
    }
}
.section-listing {
    .product-details {
        box-shadow: none;
        padding: 0;
    }
}