<ion-header no-border class="section">
  <ion-toolbar>
    <ion-title>
      Send Viewing Request
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-listing ion-padding">
      <div class="product-details">
          <div class="label">
            <ion-button size="small" class="green">{{getSelectedListing().vacant_type}}</ion-button>
            <ion-button size="small" class="orange" *ngIf="getSelectedListing().com_agent_profile !== ''">{{getSelectedListing().com_agent_profile}}% Comm</ion-button>
          </div>
          <div class="description">
            <div class="title-price">
              <h2>{{getSelectedListing().property_name}}</h2>
              <div class="price">S${{getSelectedListing().asking_price | number}}</div>
            </div>
            <div class="specification">
              <div class="item">
                <span class="label">Bedrooms</span>
                <span class="value">{{getSelectedListing().no_of_rooms}}</span>
              </div>
              <!-- <div class="item">
                <span class="label">Bathrooms</span>
                <span class="value">2</span>
              </div> -->
              <div class="item">
                <span class="label">{{getSelectedListing().floor_area}} sqft</span>
              </div>
            </div>
            <div (click)="openBrowser(getSelectedListing().property_name, getSelectedListing().url)" class="url">
              <span>URL: </span>
              <a>{{getSelectedListing().url}}</a>
            </div>
            <div class="location">
              <ion-icon name="md-pin"></ion-icon>
              <span>{{getSelectedListing().address}}</span>
            </div>
            <div class="available-viewing-time">
              <p>Confirmed view time</p>
              <!-- <div class="item">
                <span>Day</span>
                <div class="value">Monday</div>
              </div> -->
              <div class="item">
                <span>Date</span>
                <div *ngFor="let sub_item of getSelectedListing().available_date_time" class="value">{{formatDate(sub_item.available_date_from)}} - {{formatDate(sub_item.available_date_to)}}</div>
              </div>
              <div class="item">
                <span>Time</span>
                <div *ngFor="let sub_item of getSelectedListing().available_date_time" class="value">{{formatTime(sub_item.available_date_from)}} - {{formatTime(sub_item.available_date_to)}}</div>
              </div>
            </div>
            <div class="agent">
              <div class="agent-left">
                <ion-item>
                  <!-- <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar> -->
                  <ion-label>
                    <h2>{{getSelectedListing().account.fullname}}</h2>
                    <p *ngIf="getSelectedListing().account.roles == 'agent'">{{getSelectedListing().account.cea_no}}</p>
                    <p *ngIf="getSelectedListing().account.roles !== 'agent'">Owner</p>
                  </ion-label>
                </ion-item>
              </div>
              <!-- <div class="button">
                <ion-button color="secondary" size="small">{{getSelectedListing().mobile}}</ion-button>
              </div> -->
            </div>
          </div>
        </div>
  </div>
  <div class="section section-request ion-padding">
    <form (ngSubmit)="submit()">
      <div class="form form-filter">
        <div class="item">
          <ion-label position="stacked">Fullname</ion-label>
          <ion-input name="fullname" [(ngModel)]="form.fullname" placeholder="Enter your fullname"></ion-input>
        </div>
        <!-- <div class="item">
            <ion-label position="stacked">Email</ion-label>
            <ion-input name="email" [(ngModel)]="form.email" type="email" placeholder="Enter your email"></ion-input>
          </div> -->
        <div class="item">
          <ion-label position="stacked">Mobile No</ion-label>
          <ion-input name="mobile_no" [(ngModel)]="form.mobile" type="number" placeholder="Enter your mobile number"></ion-input>
        </div>
        <div class="item">
          <ion-label position="stacked">Message</ion-label>
          <ion-textarea name="message" [(ngModel)]="form.message" placeholder="Enter your message"></ion-textarea>
        </div>
        <div class="item">
          <ion-button type="submit" expand="block">Submit Request</ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>