.item{
    margin-top:10px;
}
.item-time{
    margin-top:0px !important;
}

.wrapper-time{
    border: 1px solid #ccc;
    padding:5px;
    margin-top:2px;
}
.highlight-item {
    width: auto;
    display: inline-block;
    color: #333;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 8px 20px 0 rgba(91, 91, 91, 0.06);
    margin: 0 2px;
}
.highlight-item.selected{
    background: var(--ion-color-primary);
    color:#fff;
}
.checkbox-wrapper{
    margin-bottom:5px;
    ion-checkbox{
        height: 15px;
        width: 15px;
        margin-right: 5px;
        position: absolute;
    }

    span{
        padding-left:20px;
    }
}
.section-view-by-type {
    .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .choose {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 5px 10px 20px;
        ion-radio-group {
            min-width: 300px;
            ion-item {
                margin: 5px;
                &.dot {
                    ion-label {
                        &:before {
                            content: '';
                            display: inline-block;
                            height: 8px;
                            width: 8px;
                            border-radius: 50%;
                            margin-right: 5px;
                        }
                    }
        
                    &.dot-red {
                        ion-label {
                            &:before {
                                background: var(--ion-color-danger);
                            }
                        }
                    }
        
                    &.dot-green {
                        ion-label {
                            &:before {
                                background: var(--ion-color-green);
                            }
                        }
                    }
        
                    &.dot-orange {
                        ion-label {
                            &:before {
                                background: var(--ion-color-orange);
                            }
                        }
                    }
        
                    &.dot-blue {
                        ion-label {
                            &:before {
                                background: var(--ion-color-primary);
                            }
                        }
                    }
        
                    &.dot-yellow {
                        ion-label {
                            &:before {
                                background: var(--ion-color-warning);
                            }
                        }
                    }
                }
                ion-label {
                    min-width: 80px;
                    padding: 0 10px;
                }
            }
        }
    }
}