// VRIABLES
$color-text: #5f5f5f;
$color-text-dark: #333333; 

$color-main-blue: #3880ff;
$color-main-orange: #F28D3C;

$color-blue-light: rgb(248, 251, 255);;
$color-grey: #C4C4C4;
$color-grey-light: #F0F0F0;
$color-grey-very-light: #F6F6F6;
$color-grey-bg: #EBEBEB;
$color-border: #e0e7ee;

$color-white: #FFFFFF;

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin absolute-center-v {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@mixin absolute-center-h {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@mixin transition {
  -webkit-ransition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
@mixin clear {
  display: table;
  content: '';
  clear: both;
}

@mixin transition-width {
  -webkit-transition: width 0.2s ease;
  -ms-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
@mixin transition-all {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* BEGIN Regular */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
       url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
       url('../fonts/SourceSansPro/SourceSansPro-Regular.svg#NunitoSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Semibold */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro/SourceSansPro-Semibold.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SourceSansPro/SourceSansPro-Semibold.woff') format('woff'),
       url('../fonts/SourceSansPro/SourceSansPro-Semibold.ttf') format('truetype'),
       url('../fonts/SourceSansPro/SourceSansPro-Semibold.svg#NunitoSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */

/* BEGIN Bold */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
       url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype'),
       url('../fonts/SourceSansPro/SourceSansPro-Bold.svg#NunitoSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

// BOOTSTRAP OVERRIDE
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  .nav-item {
    &.dropdown {
      &.show {
        .dropdown-toggle {
          &:after {
            content: '\f106';
          }
        }
      }
    }
  }
  .dropdown-toggle {
    &:after {
      font-family: 'FontAwesome';
      content: '\f107';
      height: auto;
      width: auto;
      border-top: 0 transparent;
      border-right: 0 transparent;
      border-bottom:  0 transparent;
      border-left:  0 transparent;
      vertical-align: inherit;
    }
  }
  .dropdown-menu {
    margin-top: 0;
  }
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .dropdown-item {
    font-weight: 300;
    color: $color-text;
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
    padding: 0;
    height: 70px;
  }
  .navbar .navbar-collapse {
    background: $color-white;
    margin: 0 -15px;
    padding: 0 15px;
    @media(min-width: 1200px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
    .navbar-nav {
      @media(max-width: 1199px) {
        padding-bottom: 20px;
      }
    }
  }
  @media(max-width: 1024px) {
    .dropdown-menu {
      display: none !important;
      &.show {
        display: block !important;
      }
    }
  }
  button {
    &:focus {
      outline: none;
    }
  }
  // form style override
  label {
    font-size: 0.9rem;
  }
  .form-control {
    border-radius: 4px;
    border: 1px solid $color-border;
  }
  

// GLOBAL STYLE
body {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.5px;
    color: $color-text;
}

// helper class ===========
.color-orange {
    color: $color-main-orange;
}

.color-blue {
    color: $color-main-blue; 
}

a {
    color: $color-main-blue;
    @include transition-all;

    &:hover {
        text-decoration: none;
    }
}
// ========================
// header ======
.section {
    &.header {
        background: $color-white;
        border-bottom: 2px solid $color-blue-light;

        .navbar {
            height: 70px;

            .navbar-brand {
                @media(min-width: 992px) {
                    margin-left: 0;
                }

                img {
                    height: 45px;
                }
            }

            .navbar-nav {
                text-align: center;

                >.nav-item {
                    &.active {
                        >a {
                            font-weight: 500;
                        }
                    }

                    &.active,
                    &:hover {
                        >a {
                            background-color: rgba(0, 0, 0, 0.03);
                        }
                    }

                    >a {
                        color: $color-text-dark;
                        border-radius: 4px;

                        @media(min-width: 1200px) {
                            position: relative;
                            padding-right: 0.8rem;
                            padding-left: 0.8rem;

                            &:before {
                                content: '';
                                @include transition-all;
                                position: absolute;
                                height: 2px;
                                background-color: rgba(0, 0, 0, 0);
                                left: 0.8rem;
                                right: 0.8rem;
                                bottom: 8px;
                            }
                        }

                        @media(max-width: 1199px) {
                            font-weight: 500;
                            color: $color-main-blue;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

// =============
.navbar-light {
    background-color: $color-white;
}

.navbar {
    padding: 0;

    .navbar-toggler {
        &[aria-expanded="true"] {
            .navbar-toggler-icon {
                background-image: none;
                position: relative;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 20px;
                    background-color: rgba(0, 0, 0, .5);
                    @include absolute-center-v;
                }

                &:after {
                    transform: rotate(45deg);
                    left: 5px;
                }

                &:before {
                    transform: rotate(-45deg);
                    right: 5px;
                }
            }
        }
    }

    .link-account {
        margin-left: 20px;

        a {
            min-width: 160px;
        }
    }
}
.carousel.slide {
    margin-top: 70px;
    .carousel-inner {
        .carousel-item {
            @media(max-width: 767px) {
                padding-bottom: 56.25%;
                > img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: auto !important;
                    height: 100%;
                }
            }
        }
    }
}
.main-content {
    margin-top: 0;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .section-filter {
        padding-bottom: 30px;
        width: calc(25% - 15px);
        @media(max-width: 767px) {
            width: 100%;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;

            .form-group {
                width: 100%;
                padding: 0 15px;

                @media(max-width: 767px) {
                    flex-basis: 100%;
                }

                >label {
                    font-size: 1rem;
                    font-weight: 600;
                }

                &.form-multiple {
                    label {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        label {
                            color: $color-main-blue;
                            font-weight: normal;
                        }
                    }

                    .input {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .form-control {
                            width: calc(50% - 18px);
                        }
                        span {
                            padding: 0 10px;
                            width: 39px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .section-results {
        width: calc(75% - 15px);
        @media(max-width: 767px) {
            width: 100%;
        }
    }
    .section-listing {
        margin-bottom: 30px;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 20px;
            @media(max-width: 767px) {
                align-items: flex-start;
            }
            .title {
                width: calc(100% - 80px);
                padding-right: 20px;
                h2 {
                    margin-top: 0;
                    margin-bottom: 5px;
                    font-weight: 600;
                    color: $color-text-dark;
                    font-size: 24px;
                    @media(max-width: 767px) {
                        font-size: 20px;
                    }
                }
                h5 {
                    font-size: 14px;
                    font-weight: normal;
                    margin-bottom: 0;
                }
            }
            .view-all {
                width: 80px;
                text-align: right;
                a {
                    font-size: 16px;
                    font-weight: 600;
                    color: $color-text-dark;
                    &:hover {
                        color: $color-main-blue;
                    }
                }
            }
        }
        .items {
            margin: 0 -10px;
            display: flex;
            flex-wrap: wrap;
            > .item {
                width: 33.333%;
                padding: 0 10px;
                margin-bottom: 30px;
                &.shadow-sm {
                    box-shadow: none !important;
                }
                @media(max-width: 1024px) {
                    width: 50%;
                }
                @media(max-width: 767px) {
                    width: 100%;
                    margin-bottom: 15px;
                }
                .product-details {
                    box-shadow: 0 8px 20px 0 rgba(91, 91, 91, 0.06);
                    padding: 12px 15px;
                    border-radius: 7px;
                    height: 100%;
                    .label {
                        .badge {
                            height: 20px;
                            font-size: 12px;
                            font-weight: 600;
                            color: $color-white;
                            min-width: 80px;
                            border-radius: 3px;
                        }
                    }
                
                    .description {
                        .title-price {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            margin-top: 5px;
                            margin-bottom: 10px;
                
                            h2 {
                                font-size: 19px;
                                font-weight: 600;
                                margin: 0;
                            }
                
                            .price {
                                font-size: 19px;
                                font-weight: 600;
                                color: $color-main-blue;
                            }
                        }
                
                        .specification {
                            display: flex;
                            margin-bottom: 7px;
                
                            .item {
                                font-size: 12px;
                                padding-right: 22px;
                                position: relative;
                
                                &:last-child {
                                    &:after {
                                        display: none;
                                    }
                                }
                
                                &:after {
                                    content: '';
                                    background: $color-main-blue;
                                    height: 7px;
                                    width: 7px;
                                    border-radius: 50px;
                                    position: absolute;
                                    right: 7px;
                                    top: 10px;
                                    transform: translate(0, -50%);
                                }
                
                                .value {
                                    padding-left: 5px;
                                    font-weight: 600;
                                    color: $color-text-dark;
                                }
                            }
                        }
                
                        .url {
                            font-size: 12px;
                            margin-bottom: 10px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                
                        .location {
                            display: flex;
                            align-items: flex-start;
                
                            .icon {
                                width: 20px;
                                color: $color-main-blue;
                                margin-top: -3px;
                            }
                
                            span {
                                font-size: 12px;
                                width: calc(100% - 20px);
                            }
                        }
                
                        .available-viewing-time {
                            display: flex;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            margin-top: 15px;
                            margin-bottom: 15px;
                            padding: 15px 0;
                            background: $color-blue-light;
                            border-radius: 5px;
                
                            >p {
                                width: 100%;
                                margin: 0 0 3px;
                                font-size: 12px;
                                padding: 0 7px;
                            }
                
                            .item {
                                border-right: 1px solid $color-border;
                                padding: 0 7px;
                                width: 35%;
                
                                &:nth-of-type(1) {
                                    width: 30%;
                                }
                
                                &:last-child {
                                    border-right: 0 transparent;
                                }
                
                                >span {
                                    font-size: 12px;
                                }
                
                                .value {
                                    font-size: 13px;
                                    font-weight: 600;
                                    color: $color-main-blue;
                                    line-height: 1.2;
                                }
                            }
                        }
                
                        .agent {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-top: 10px;
                            .button {
                                width: 110px;
                                text-align: right;
                            }
                            .agent-left {
                                width: calc(100% - 110px);
                                .item-avatar {
                                    .label {
                                        margin: 0;
                    
                                        h2 {
                                            font-weight: 600;
                                            font-size: 13px;
                                            margin-top: 0;
                                            margin-bottom: 1px;
                                        }
                    
                                        p {
                                            font-size: 11px;
                                            color: $color-main-blue;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

.section-footer {
    padding-top: 20px;
    padding-bottom: 40px;;
    .wrapper-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .copyright {
            @media(max-width: 767px) {
                width: 100%;
                margin-bottom: 15px;
                text-align: center;
            }
        }
        .link {
            @media(max-width: 767px) {
                display: flex;
                justify-content: center;
                width: 100%;
            }
            ul {
                list-style-type: none;
                margin: 0 -15px;
                padding: 0;
                li {
                    display: inline-block;
                    a {
                        color: $color-text;
                        display: block;
                        padding: 0 15px;
                        &:hover {
                            color: $color-main-blue;
                        }
                    }
                }
            }
        }
    }
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 1500;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    padding: 15px;
    &.show {
        display: flex;
    }
    .content-modal {
        background: $color-white;
        border-radius: 10px;
        width: 100%;
        max-width: 800px;
        position: relative;
        .close {
            position: absolute;
            top: 10px;
            right: 15px;
            button {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 0 transparent;
                background-color: $color-blue-light;
            }
            i {
                font-size: 22px;
                color: #dddddd;
            }
        }
        .title {
            font-weight: 600;
            font-size: 26px;
            padding: 10px 15px;
            margin-bottom: 5px;
            border-bottom: 1px solid rgba(91, 91, 91, 0.06); 
        }
        .content {
            form {
                padding: 15px;
                label {
                    font-weight: 600;
                }
                .outer-button {
                    text-align: right;
                    margin-top: 30px;
                }
            }
            .item {
                .product-details {
                    padding: 12px 15px;
                    border-radius: 7px;
                    height: 100%;
                    .label {
                        .badge {
                            height: 20px;
                            font-size: 12px;
                            font-weight: 600;
                            color: $color-white;
                            min-width: 80px;
                            border-radius: 3px;
                        }
                    }
                
                    .description {
                        .title-price {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 5px;
                            margin-bottom: 10px;
                
                            h2 {
                                font-size: 19px;
                                font-weight: 600;
                                margin: 0;
                            }
                
                            .price {
                                font-size: 19px;
                                font-weight: 600;
                                color: $color-main-blue;
                            }
                        }
                
                        .specification {
                            display: flex;
                            margin-bottom: 7px;
                
                            .item {
                                font-size: 12px;
                                padding-right: 22px;
                                position: relative;
                
                                &:last-child {
                                    &:after {
                                        display: none;
                                    }
                                }
                
                                &:after {
                                    content: '';
                                    background: $color-main-blue;
                                    height: 7px;
                                    width: 7px;
                                    border-radius: 50px;
                                    position: absolute;
                                    right: 7px;
                                    top: 50%;
                                    transform: translate(0, -50%);
                                }
                
                                .value {
                                    padding-left: 5px;
                                    font-weight: 600;
                                    color: $color-text-dark;
                                }
                            }
                        }
                
                        .url {
                            font-size: 12px;
                            margin-bottom: 10px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                
                        .location {
                            display: flex;
                            align-items: flex-start;
                
                            .icon {
                                width: 20px;
                                color: $color-main-blue;
                                margin-top: -3px;
                            }
                
                            span {
                                font-size: 12px;
                                width: calc(100% - 20px);
                            }
                        }
                
                        .available-viewing-time {
                            display: flex;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            margin-top: 15px;
                            margin-bottom: 15px;
                            padding: 15px 10px;
                            background: $color-blue-light;
                            border-radius: 5px;
                
                            >p {
                                width: 100%;
                                margin: 0 0 3px;
                                font-size: 12px;
                                padding: 0 10px;
                            }
                
                            .item {
                                border-right: 1px solid $color-border;
                                padding: 0 10px;
                                width: 35%;
                
                                &:nth-of-type(1) {
                                    width: 30%;
                                }
                
                                &:last-child {
                                    border-right: 0 transparent;
                                }
                
                                >span {
                                    font-size: 12px;
                                }
                
                                .value {
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: $color-main-blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
