/* BEGIN Regular */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Regular.svg#NunitoSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* END Regular */
/* BEGIN Semibold */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro/SourceSansPro-Semibold.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.svg#NunitoSansSemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* END Semibold */
/* BEGIN Bold */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Bold.svg#NunitoSansBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* END Bold */
.dropdown:hover > .dropdown-menu {
  display: block;
}

.nav-item.dropdown.show .dropdown-toggle:after {
  content: '\f106';
}

.dropdown-toggle:after {
  font-family: 'FontAwesome';
  content: '\f107';
  height: auto;
  width: auto;
  border-top: 0 transparent;
  border-right: 0 transparent;
  border-bottom: 0 transparent;
  border-left: 0 transparent;
  vertical-align: inherit;
}

.dropdown-menu {
  margin-top: 0;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .dropdown-item {
  font-weight: 300;
  color: #5f5f5f;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
  padding: 0;
  height: 70px;
}

.navbar .navbar-collapse {
  background: #FFFFFF;
  margin: 0 -15px;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .navbar .navbar-collapse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}

@media (max-width: 1199px) {
  .navbar .navbar-collapse .navbar-nav {
    padding-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .dropdown-menu {
    display: none !important;
  }
  .dropdown-menu.show {
    display: block !important;
  }
}

button:focus {
  outline: none;
}

label {
  font-size: 0.9rem;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #e0e7ee;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.5px;
  color: #5f5f5f;
}

.color-orange {
  color: #F28D3C;
}

.color-blue {
  color: #3880ff;
}

a {
  color: #3880ff;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.section.header {
  background: #FFFFFF;
  border-bottom: 2px solid #f8fbff;
}

.section.header .navbar {
  height: 70px;
}

@media (min-width: 992px) {
  .section.header .navbar .navbar-brand {
    margin-left: 0;
  }
}

.section.header .navbar .navbar-brand img {
  height: 45px;
}

.section.header .navbar .navbar-nav {
  text-align: center;
}

.section.header .navbar .navbar-nav > .nav-item.active > a {
  font-weight: 500;
}

.section.header .navbar .navbar-nav > .nav-item.active > a, .section.header .navbar .navbar-nav > .nav-item:hover > a {
  background-color: rgba(0, 0, 0, 0.03);
}

.section.header .navbar .navbar-nav > .nav-item > a {
  color: #333333;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .section.header .navbar .navbar-nav > .nav-item > a {
    position: relative;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
  .section.header .navbar .navbar-nav > .nav-item > a:before {
    content: '';
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    height: 2px;
    background-color: rgba(0, 0, 0, 0);
    left: 0.8rem;
    right: 0.8rem;
    bottom: 8px;
  }
}

@media (max-width: 1199px) {
  .section.header .navbar .navbar-nav > .nav-item > a {
    font-weight: 500;
    color: #3880ff;
    margin-top: 10px;
  }
}

.navbar-light {
  background-color: #FFFFFF;
}

.navbar {
  padding: 0;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: none;
  position: relative;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after, .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  left: 5px;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(-45deg);
  right: 5px;
}

.navbar .link-account {
  margin-left: 20px;
}

.navbar .link-account a {
  min-width: 160px;
}

.carousel.slide {
  margin-top: 70px;
}

@media (max-width: 767px) {
  .carousel.slide .carousel-inner .carousel-item {
    padding-bottom: 56.25%;
  }
  .carousel.slide .carousel-inner .carousel-item > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto !important;
    height: 100%;
  }
}

.main-content {
  margin-top: 0;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-content .section-filter {
  padding-bottom: 30px;
  width: calc(25% - 15px);
}

@media (max-width: 767px) {
  .main-content .section-filter {
    width: 100%;
  }
}

.main-content .section-filter form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.main-content .section-filter form .form-group {
  width: 100%;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .main-content .section-filter form .form-group {
    flex-basis: 100%;
  }
}

.main-content .section-filter form .form-group > label {
  font-size: 1rem;
  font-weight: 600;
}

.main-content .section-filter form .form-group.form-multiple label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content .section-filter form .form-group.form-multiple label label {
  color: #3880ff;
  font-weight: normal;
}

.main-content .section-filter form .form-group.form-multiple .input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content .section-filter form .form-group.form-multiple .input .form-control {
  width: calc(50% - 18px);
}

.main-content .section-filter form .form-group.form-multiple .input span {
  padding: 0 10px;
  width: 39px;
  text-align: center;
}

.main-content .section-results {
  width: calc(75% - 15px);
}

@media (max-width: 767px) {
  .main-content .section-results {
    width: 100%;
  }
}

.main-content .section-listing {
  margin-bottom: 30px;
}

.main-content .section-listing .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .main-content .section-listing .top {
    align-items: flex-start;
  }
}

.main-content .section-listing .top .title {
  width: calc(100% - 80px);
  padding-right: 20px;
}

.main-content .section-listing .top .title h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333333;
  font-size: 24px;
}

@media (max-width: 767px) {
  .main-content .section-listing .top .title h2 {
    font-size: 20px;
  }
}

.main-content .section-listing .top .title h5 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
}

.main-content .section-listing .top .view-all {
  width: 80px;
  text-align: right;
}

.main-content .section-listing .top .view-all a {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}

.main-content .section-listing .top .view-all a:hover {
  color: #3880ff;
}

.main-content .section-listing .items {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}

.main-content .section-listing .items > .item {
  width: 33.333%;
  padding: 0 10px;
  margin-bottom: 30px;
}

.main-content .section-listing .items > .item.shadow-sm {
  box-shadow: none !important;
}

@media (max-width: 1024px) {
  .main-content .section-listing .items > .item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .main-content .section-listing .items > .item {
    width: 100%;
    margin-bottom: 15px;
  }
}

.main-content .section-listing .items > .item .product-details {
  box-shadow: 0 8px 20px 0 rgba(91, 91, 91, 0.06);
  padding: 12px 15px;
  border-radius: 7px;
  height: 100%;
}

.main-content .section-listing .items > .item .product-details .label .badge {
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  min-width: 80px;
  border-radius: 3px;
}

.main-content .section-listing .items > .item .product-details .description .title-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 10px;
}

.main-content .section-listing .items > .item .product-details .description .title-price h2 {
  font-size: 19px;
  font-weight: 600;
  margin: 0;
}

.main-content .section-listing .items > .item .product-details .description .title-price .price {
  font-size: 19px;
  font-weight: 600;
  color: #3880ff;
}

.main-content .section-listing .items > .item .product-details .description .specification {
  display: flex;
  margin-bottom: 7px;
}

.main-content .section-listing .items > .item .product-details .description .specification .item {
  font-size: 12px;
  padding-right: 22px;
  position: relative;
}

.main-content .section-listing .items > .item .product-details .description .specification .item:last-child:after {
  display: none;
}

.main-content .section-listing .items > .item .product-details .description .specification .item:after {
  content: '';
  background: #3880ff;
  height: 7px;
  width: 7px;
  border-radius: 50px;
  position: absolute;
  right: 7px;
  top: 10px;
  transform: translate(0, -50%);
}

.main-content .section-listing .items > .item .product-details .description .specification .item .value {
  padding-left: 5px;
  font-weight: 600;
  color: #333333;
}

.main-content .section-listing .items > .item .product-details .description .url {
  font-size: 12px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-content .section-listing .items > .item .product-details .description .location {
  display: flex;
  align-items: flex-start;
}

.main-content .section-listing .items > .item .product-details .description .location .icon {
  width: 20px;
  color: #3880ff;
  margin-top: -3px;
}

.main-content .section-listing .items > .item .product-details .description .location span {
  font-size: 12px;
  width: calc(100% - 20px);
}

.main-content .section-listing .items > .item .product-details .description .available-viewing-time {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 0;
  background: #f8fbff;
  border-radius: 5px;
}

.main-content .section-listing .items > .item .product-details .description .available-viewing-time > p {
  width: 100%;
  margin: 0 0 3px;
  font-size: 12px;
  padding: 0 7px;
}

.main-content .section-listing .items > .item .product-details .description .available-viewing-time .item {
  border-right: 1px solid #e0e7ee;
  padding: 0 7px;
  width: 35%;
}

.main-content .section-listing .items > .item .product-details .description .available-viewing-time .item:nth-of-type(1) {
  width: 30%;
}

.main-content .section-listing .items > .item .product-details .description .available-viewing-time .item:last-child {
  border-right: 0 transparent;
}

.main-content .section-listing .items > .item .product-details .description .available-viewing-time .item > span {
  font-size: 12px;
}

.main-content .section-listing .items > .item .product-details .description .available-viewing-time .item .value {
  font-size: 13px;
  font-weight: 600;
  color: #3880ff;
  line-height: 1.2;
}

.main-content .section-listing .items > .item .product-details .description .agent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.main-content .section-listing .items > .item .product-details .description .agent .button {
  width: 110px;
  text-align: right;
}

.main-content .section-listing .items > .item .product-details .description .agent .agent-left {
  width: calc(100% - 110px);
}

.main-content .section-listing .items > .item .product-details .description .agent .agent-left .item-avatar .label {
  margin: 0;
}

.main-content .section-listing .items > .item .product-details .description .agent .agent-left .item-avatar .label h2 {
  font-weight: 600;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 1px;
}

.main-content .section-listing .items > .item .product-details .description .agent .agent-left .item-avatar .label p {
  font-size: 11px;
  color: #3880ff;
  margin-bottom: 0;
}

.section-footer {
  padding-top: 20px;
  padding-bottom: 40px;
}

.section-footer .wrapper-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .section-footer .wrapper-footer .copyright {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .section-footer .wrapper-footer .link {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.section-footer .wrapper-footer .link ul {
  list-style-type: none;
  margin: 0 -15px;
  padding: 0;
}

.section-footer .wrapper-footer .link ul li {
  display: inline-block;
}

.section-footer .wrapper-footer .link ul li a {
  color: #5f5f5f;
  display: block;
  padding: 0 15px;
}

.section-footer .wrapper-footer .link ul li a:hover {
  color: #3880ff;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 1500;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  padding: 15px;
}

.modal.show {
  display: flex;
}

.modal .content-modal {
  background: #FFFFFF;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  position: relative;
}

.modal .content-modal .close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal .content-modal .close button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0 transparent;
  background-color: #f8fbff;
}

.modal .content-modal .close i {
  font-size: 22px;
  color: #dddddd;
}

.modal .content-modal .title {
  font-weight: 600;
  font-size: 26px;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(91, 91, 91, 0.06);
}

.modal .content-modal .content form {
  padding: 15px;
}

.modal .content-modal .content form label {
  font-weight: 600;
}

.modal .content-modal .content form .outer-button {
  text-align: right;
  margin-top: 30px;
}

.modal .content-modal .content .item .product-details {
  padding: 12px 15px;
  border-radius: 7px;
  height: 100%;
}

.modal .content-modal .content .item .product-details .label .badge {
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  min-width: 80px;
  border-radius: 3px;
}

.modal .content-modal .content .item .product-details .description .title-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}

.modal .content-modal .content .item .product-details .description .title-price h2 {
  font-size: 19px;
  font-weight: 600;
  margin: 0;
}

.modal .content-modal .content .item .product-details .description .title-price .price {
  font-size: 19px;
  font-weight: 600;
  color: #3880ff;
}

.modal .content-modal .content .item .product-details .description .specification {
  display: flex;
  margin-bottom: 7px;
}

.modal .content-modal .content .item .product-details .description .specification .item {
  font-size: 12px;
  padding-right: 22px;
  position: relative;
}

.modal .content-modal .content .item .product-details .description .specification .item:last-child:after {
  display: none;
}

.modal .content-modal .content .item .product-details .description .specification .item:after {
  content: '';
  background: #3880ff;
  height: 7px;
  width: 7px;
  border-radius: 50px;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translate(0, -50%);
}

.modal .content-modal .content .item .product-details .description .specification .item .value {
  padding-left: 5px;
  font-weight: 600;
  color: #333333;
}

.modal .content-modal .content .item .product-details .description .url {
  font-size: 12px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal .content-modal .content .item .product-details .description .location {
  display: flex;
  align-items: flex-start;
}

.modal .content-modal .content .item .product-details .description .location .icon {
  width: 20px;
  color: #3880ff;
  margin-top: -3px;
}

.modal .content-modal .content .item .product-details .description .location span {
  font-size: 12px;
  width: calc(100% - 20px);
}

.modal .content-modal .content .item .product-details .description .available-viewing-time {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
  background: #f8fbff;
  border-radius: 5px;
}

.modal .content-modal .content .item .product-details .description .available-viewing-time > p {
  width: 100%;
  margin: 0 0 3px;
  font-size: 12px;
  padding: 0 10px;
}

.modal .content-modal .content .item .product-details .description .available-viewing-time .item {
  border-right: 1px solid #e0e7ee;
  padding: 0 10px;
  width: 35%;
}

.modal .content-modal .content .item .product-details .description .available-viewing-time .item:nth-of-type(1) {
  width: 30%;
}

.modal .content-modal .content .item .product-details .description .available-viewing-time .item:last-child {
  border-right: 0 transparent;
}

.modal .content-modal .content .item .product-details .description .available-viewing-time .item > span {
  font-size: 12px;
}

.modal .content-modal .content .item .product-details .description .available-viewing-time .item .value {
  font-size: 14px;
  font-weight: 600;
  color: #3880ff;
}
