<ion-header no-border class="section">
    <ion-toolbar>
      <ion-title>
        Connect
      </ion-title>
      <!-- <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons> -->
      <!-- <ion-buttons slot="primary">
        <ion-button fill="clear" size="small">Add Filter</ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="section-listing ion-padding">
        <p *ngIf="listing.length == 0" class="text-center">No viewing request submitted yet.</p>
        <div *ngFor="let item of listing" class="product-details">
            <div class="label">
              <ion-button size="small" class="green">{{item.vacant_type}}</ion-button>
              <ion-button size="small" class="orange" *ngIf="item.com_agent_profile !== ''">{{item.com_agent_profile}}% Comm</ion-button>
            </div>
            <div class="description">
              <div class="title-price">
                <h2>{{item.property_name}}</h2>
                <div class="price">S${{item.asking_price | number}}</div>
              </div>
              <div class="specification">
                <div class="item">
                  <span class="label">Bedrooms</span>
                  <span class="value">{{item.no_of_rooms}}</span>
                </div>
                <!-- <div class="item">
                  <span class="label">Bathrooms</span>
                  <span class="value">2</span>
                </div> -->
                <div class="item">
                  <span class="label">{{item.floor_area}} sqft</span>
                </div>
              </div>
              <div (click)="openBrowser(item.property_name, item.url)" class="url">
                <span>URL: </span>
                <a>{{item.url}}</a>
              </div>
              <div class="location">
                <ion-icon name="md-pin"></ion-icon>
                <span>{{item.address}}</span>
              </div>
              <div class="available-viewing-time">
                <p>Confirmed view time</p>
                <!-- <div class="item">
                  <span>Day</span>
                  <div class="value">Monday</div>
                </div> -->
                <div class="item">
                  <span>Date</span>
                  <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatDate(sub_item.available_date_from)}} - {{formatDate(sub_item.available_date_to)}}</div>
                </div>
                <div class="item">
                  <span>Time</span>
                  <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatTime(sub_item.available_date_from)}} - {{formatTime(sub_item.available_date_to)}}</div>
                </div>
              </div>
              <div class="available-viewing-time">
                  <p>Confirmed Request</p>
                  <div *ngFor="let subItem of item.sendViewRequest" class="item">
                      <div class="value">{{subItem.name}}</div>
                      <p style="margin-top:0px;">
                          <!-- <a href="mailto:{{subItem.email}}">{{subItem.email}}</a><br/> -->
                          <a (click)="whatsapp(subItem.mobile)">{{subItem.mobile}}</a><br/>
                          Message&nbsp;: {{subItem.message}}
                      </p>
                  </div>
                  
                </div>
              <!-- <div class="agent">
                <div class="agent-left">
                  <ion-item>
                    <ion-label>
                      <h2>{{item.account.fullname}}</h2>
                      <p *ngIf="item.account.roles == 'agent'">{{item.account.cea_no}}</p>
                      <p *ngIf="item.account.roles !== 'agent'">Owner</p>
                    </ion-label>
                  </ion-item>
                </div>
                <div class="button">
                  <ion-button (click)="sendRequest(item)" size="small">Contact Now</ion-button>
                </div>
              </div> -->
              <div class="viewing-list">

              </div>
            </div>
          </div>
      
    </div>
  </ion-content>
    