<ion-header no-border class="section">
  <ion-toolbar>
    <ion-title>
      Registration
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper-login">
    <!-- <div class="alert alert-success ion-padding">
      Success! <br /> Please log in to continue.
    </div>
    <div class="alert alert-danger ion-padding">
      Failed! <br /> Invalid email or password.
    </div> -->
    <div class="form ion-padding">
      <form (ngSubmit)="submitRegister()" class="list-form">
      <div class="item">
        <ion-label position="stacked">I am a  <span class="required">*</span></ion-label>
        <ion-radio-group (ionChange)="change($event)" [(ngModel)]="form.roles" name="type" class="radio-form">
            <ion-item style="width:100%;" lines="none">
              <ion-label>
                <ion-icon name="ios-checkmark-circle"></ion-icon>
                <img src="../../assets/images/icon-farmer.svg" alt="">
                Property Hunter
              </ion-label>
              <ion-radio name="type" mode="ios" value="property-hunter" checked></ion-radio>
            </ion-item>
          <ion-item lines="none">
            <ion-label>
              <ion-icon name="ios-checkmark-circle"></ion-icon>
              <img src="../../assets/images/icon-farmer.svg" alt="">
              Property Agent
            </ion-label>
            <ion-radio name="type" mode="ios" value="agent" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <ion-icon name="ios-checkmark-circle"></ion-icon>
              <img src="../../assets/images/icon-officer.svg" alt="">
              House Owner
            </ion-label>
            <ion-radio name="type" mode="ios" value="owner"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <div class="item">
        <ion-label position="stacked">Full Name <span class="required">*</span></ion-label>
        <ion-input name="fullname" [(ngModel)]="form.fullname" placeholder="Enter your Full Name"></ion-input>
      </div>
      <div [hidden]="form.roles == 'owner' || form.roles == 'property-hunter'" class="item">
        <ion-label position="stacked">CEA No  <span class="required">*</span></ion-label>
        <ion-input name="cea_no" [(ngModel)]="form.cea_no" placeholder="Enter Salesperson No"></ion-input>
      </div>
      <div [hidden]="form.roles == 'owner' || form.roles == 'property-hunter'" class="item">
        <ion-label position="stacked">Agency  <span class="required">*</span></ion-label>
        <ion-input name="agency" [(ngModel)]="form.agency" placeholder="Enter Agency"></ion-input>
      </div>
      <div class="item">
        <ion-label position="stacked">Email  <span class="required">*</span></ion-label>
        <ion-input type="email" name="email" [(ngModel)]="form.email" placeholder="Enter your email"></ion-input>
      </div>
      <div class="item">
        <ion-label position="stacked">Mobile No <span class="required">*</span></ion-label>
        <div style="position:absolute;" class="prefix">+65</div> <ion-input type="tel" style="margin-left:30px;width:90%;" name="mobile" [(ngModel)]="form.mobile" placeholder="Enter your mobile number"></ion-input>
      </div>
      <div class="item">
        <ion-label position="stacked" class="multiple-label">
          New Password  <span class="required">*</span>
          <!-- <ion-button fill="clear" size="small">Show</ion-button> -->
        </ion-label>
        <ion-input name="password" [(ngModel)]="form.password" type="password" placeholder="Enter your new password"></ion-input>
      </div>
      <div class="item">
        <ion-label position="stacked">Confirm Password  <span class="required">*</span></ion-label>
        <ion-input name="confirm_password" [(ngModel)]="form.confirm_password"  type="password" placeholder="Please confirm your password"></ion-input>
      </div>
      <div class="item button">
        <ion-button type="submit" expand="block" expand="block">Register</ion-button>
      </div>
      </form>
    </div>
  </div>
</ion-content>