.alert {
    font-weight: 600;
    &.alert-success {
        color: var(--ion-color-success-contrast);
        background: var(--ion-color-green);
    }
    &.alert-danger {
        color: var(--ion-color-danger-contrast);
        background: var(--ion-color-danger);
    }
}
.form {
    .item {
        margin-top:10px;
        &.button {
            margin-top: 30px;
        }
    }
}
.required{
    color:#f00;
}
.prefix {
    margin-top: 10px;
    font-weight: bold;
}