<ion-header *ngIf="isLoggedIn()" no-border class="ion-padding section">
  <h2>{{getUserData().fullname}}</h2>
  <a routerLink="/tabs/profile">Edit Profile</a>
  <ion-button routerLink="/viewing-request-list" class="viewing-request" (click)="viewingRequest()" size="small" color="dark"><ion-icon name="paper-plane"></ion-icon>&nbsp; Viewing Request</ion-button>

</ion-header>

<ion-content>
  <div *ngIf="isLoggedIn()" class="section section-credit-card ion-padding">
    <div class="available">
      <div class="image">
        <img src="../../assets/images/icon-credit-card.svg" />
      </div>
      <div class="text">
        <span class="available-credit">Available Credit</span>
        <span class="available-number">{{getUserData().credit_balance}}</span>
      </div>
    </div>
    <div class="purchase">
      <ion-button routerLink="/credit-balance-topup" color="primary">Purchase Credits</ion-button>
    </div>
  </div>
  <div *ngIf="!isLoggedIn()" class="section section-credit-card ion-padding">
      <div class="available">
        <div>
          <img width="250" src="../../assets/images/logo.png" />
        </div>
        <div class="text">
          <!-- <span class="available-credit">Available Credit</span> -->
          <!-- <span class="available-number">759</span> -->
        </div>
      </div>
      <div class="purchase">
        <ion-button size="small" routerLink="/login" color="warning">List Property / Publish View Time?</ion-button>
      </div>
    </div>
  <div class="section section-view-by-type ion-padding">
    <div class="title">View by Type</div>
    <div class="choose">
      <ion-radio-group name="view_by_type">
        <ion-item lines="none" class="blank">
          <ion-label>All</ion-label>
          <ion-radio name="mode" mode="ios" value="All"></ion-radio>
        </ion-item>
        <ion-item afor lines="none" class="dot">
          <ion-label>HDB</ion-label>
          <ion-radio name="mode" mode="ios" value="hdb"></ion-radio>
        </ion-item>
        <ion-item lines="none" class="dot">
          <ion-label>Condo</ion-label>
          <ion-radio name="mode" mode="ios" value="condo"></ion-radio>
        </ion-item>
        <ion-item lines="none" class="dot">
          <ion-label>Landed</ion-label>
          <ion-radio name="mode" mode="ios" value="landed"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>
  </div>
  <div class="section-listing ion-padding">
    <div class="top-block">
      <div class="title">
        All Listing
      </div>
      <div class="link">
        <a routerLink>View All</a>
      </div>
    </div>
    <div *ngFor="let item of getListing()" class="product-details">
      <div class="label">
        <ion-button size="small" class="green">{{item.vacant_type}}</ion-button>
        <ion-button size="small" class="orange" *ngIf="item.com_agent_profile !== ''">{{item.com_agent_profile}}% Comm</ion-button>
      </div>
      <div class="description">
        <div class="title-price">
          <h2>{{item.property_name}}</h2>
          <div class="price">S${{item.asking_price | number}}</div>
        </div>
        <div class="specification">
          <div class="item">
            <span class="label">Bedrooms</span>
            <span class="value">{{item.no_of_rooms}}</span>
          </div>
          <!-- <div class="item">
            <span class="label">Bathrooms</span>
            <span class="value">2</span>
          </div> -->
          <div class="item">
            <span class="label">{{item.floor_area}} sqft</span>
          </div>
        </div>
        <div (click)="openBrowser(item.property_name, item.url)" class="url">
          <span>URL: </span>
          <a>{{item.url}}</a>
        </div>
        <div class="location">
          <ion-icon name="md-pin"></ion-icon>
          <span>{{item.address}}</span>
        </div>
        <div class="available-viewing-time">
          <p>Confirmed view time</p>
          <!-- <div class="item">
            <span>Day</span>
            <div class="value">Monday</div>
          </div> -->
          <div class="item">
            <span>Date</span>
            <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatDate(sub_item.available_date_from)}} - {{formatDate(sub_item.available_date_to)}}</div>
          </div>
          <div class="item">
            <span>Time</span>
            <div *ngFor="let sub_item of item.available_date_time" class="value">{{formatTime(sub_item.available_date_from)}} - {{formatTime(sub_item.available_date_to)}}</div>
          </div>
        </div>
        <div class="agent">
          <div class="agent-left">
            <ion-item>
              <!-- <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar> -->
              <ion-label>
                <h2>{{item.account.fullname}}</h2>
                <p *ngIf="item.account.roles == 'agent'">{{item.account.cea_no}}</p>
                <p *ngIf="item.account.roles !== 'agent'">Owner</p>
              </ion-label>
            </ion-item>
          </div>
          <div class="button">
            <ion-button (click)="sendRequest(item)" size="small">Contact Now</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
