ion-header h2 {
  margin: 0 0 5px;
  font-size: 22px;
}

.section-credit-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-credit-card .available {
  display: flex;
  align-items: flex-start;
}

.section-credit-card .available .image {
  margin-right: 10px;
  width: 33px;
}

.section-credit-card .available .text {
  width: calc(100% - 43px);
}

.section-credit-card .available .text span {
  display: block;
}

.section-credit-card .available .text span.available-number {
  color: var(--ion-color-primary);
  font-size: 24px;
  font-weight: 600;
}

.section-view-by-type .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-view-by-type .choose {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 5px 10px 20px;
}

.section-view-by-type .choose ion-radio-group {
  min-width: 700px;
}

.section-view-by-type .choose ion-radio-group ion-item {
  margin: 0 5px;
}

.section-view-by-type .choose ion-radio-group ion-item.dot ion-label:before {
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.section-view-by-type .choose ion-radio-group ion-item.dot.dot-red ion-label:before {
  background: var(--ion-color-danger);
}

.section-view-by-type .choose ion-radio-group ion-item.dot.dot-green ion-label:before {
  background: var(--ion-color-green);
}

.section-view-by-type .choose ion-radio-group ion-item.dot.dot-orange ion-label:before {
  background: var(--ion-color-orange);
}

.section-view-by-type .choose ion-radio-group ion-item.dot.dot-blue ion-label:before {
  background: var(--ion-color-primary);
}

.section-view-by-type .choose ion-radio-group ion-item.dot.dot-yellow ion-label:before {
  background: var(--ion-color-warning);
}

.section-view-by-type .choose ion-radio-group ion-item ion-label {
  min-width: 80px;
  padding: 0 10px;
}

.section-listing .top-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 15px;
}

.section-listing .top-block .title {
  font-weight: 600;
}

.section-listing .top-block a {
  text-decoration: none;
}
