<ion-header no-border class="section">
    <ion-toolbar style="background:#fff;">
      <ion-title>
        <img src="../../assets/images/logo.png" style="width:150px;"/>
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <!-- <div *ngIf="isLoggedIn()" class="section section-credit-card ion-padding">
    <div class="available">
      <div class="image">
        <img src="../../assets/images/icon-credit-card.svg" />
      </div>
      <div class="text">
        <span class="available-credit">Available Credit</span>
        <span class="available-number">{{ getUserData().credit_balance }}</span>
      </div>
    </div>
    <div class="purchase">
      <ion-button routerLink="/credit-balance-topup" color="primary"
        >Purchase Credits</ion-button
      >
    </div>
  </div> -->
  <div class="section section-filter ion-padding">
    <!-- <div class="title" (click)="toggle()"><a>Filter By Date <span style="float:right"><ion-icon *ngIf="toggleFilter" mode="md" name="arrow-dropdown"></ion-icon><ion-icon *ngIf="!toggleFilter" mode="md" name="arrow-dropup"></ion-icon></span></a></div> -->
    <!-- <hr/> -->
    <!-- <ion-button *ngIf="!isLoggedIn()" size="small" routerLink="/login" expand="full" color="warning">List Property / Publish View Time?</ion-button> -->

    <div class="form form-filter">
      <div class="section section-view-by-type">
        <!-- <div class="title">View by Type</div> -->
        <div class="choose">
          <ion-radio-group [(ngModel)]="form.listing_type" name="view_by_type">
            <ion-item lines="none" class="blank">
              <ion-label>Sale</ion-label>
              <ion-radio name="mode" mode="ios" value="sale"></ion-radio>
            </ion-item>
            <ion-item afor lines="none" class="dot">
              <ion-label>Rent</ion-label>
              <ion-radio name="mode" mode="ios" value="rent"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>
      <br/>
      <!-- <ion-segment>
          <ion-segment-button (click)="toggleListingType('Sale')" value="sale" [checked]="form.listing_type == 'sale'">
            <ion-label>Sale</ion-label>
          </ion-segment-button>
          <ion-segment-button (click)="toggleListingType('Rent')" value="rent" [checked]="form.listing_type == 'rent'">
            <ion-label>Rent</ion-label>
          </ion-segment-button>
      </ion-segment> -->
      <div routerLink="/home-sub1" class="item">
        <!-- <ion-label position="stacked">Property Name</ion-label> -->
        
        <div class="title" style="">
          {{getLocationDisplay()}}
        </div>
        <img style="width:25px;right: 25px;position:absolute;right:25px;top:80px;" src="../../assets/img/dart.svg"/>

        <!-- <ion-input (click)="presentModalProperty()" name="property_name" [(ngModel)]="form.property_name" placeholder="Search Property" [disabled]="true"></ion-input> -->
      </div>
      <div class="item">
        <ion-label position="stacked">Select Date</ion-label>
        <div (click)="openDatepicker()">{{date_display}}</div>
      </div>
      <div class="item">
        <ion-label class="multiple-label" position="stacked">
          Time
          <div class="check">
            <ion-checkbox
              name="all_day"
              [(ngModel)]="form.all_day"
            ></ion-checkbox
            ><span>All Day</span>
          </div>
        </ion-label>
        <div class="multiple-input">
          <ion-datetime
            name="start_time"
            display-format="HH:mm a"
            picker-format="HH:mm a"
            [(ngModel)]="form.start_time"
          ></ion-datetime>
          <span>To</span>
          <ion-datetime
            name="end_time"
            display-format="HH:mm a"
            picker-format="HH:mm a"
            [(ngModel)]="form.end_time"
          ></ion-datetime>
        </div>
      </div>
      <ion-button
        type="button"
        (click)="filterSubmit()"
        color="primary"
        expand="full"
        >Search</ion-button
      >
      <div align="center">
        <a (click)="clearFilter()" style="color:#f00">Clear Search</a>
      </div>
    </div>
  </div>
  <div class="section-listing ion-padding">
    <h5 *ngIf="!search_result" align="left" class="primary"><strong>Most Recent Listing</strong></h5>
    <ion-button (click)="refresh()" class="refresh" color="primary"><ion-icon name="refresh"></ion-icon></ion-button>
    <h5 *ngIf="search_result" align="left" class="primary"><strong>Search Results</strong></h5>
    <div *ngIf="getListing().length == 0">
      <p class="text-center">No listing added yet.</p>
    </div>
    <div *ngFor="let item of getListing()" class="product-details">
      <div class="label">
        <ion-button size="small" color="medium">{{item.listing_type.toUpperCase()}}</ion-button>
        <ion-button size="small" class="green">{{item.vacant_type}}</ion-button>
        <ion-button
          size="small"
          class="orange"
          *ngIf="item.com_agent_profile !== ''"
          >{{ item.com_agent_profile }}% Comm</ion-button
        >
      </div>
      <div class="description">
        <div class="title-price">
          <h2>{{ item.property_name }}</h2>
          <div class="price">S${{ item.asking_price | number }}</div>
        </div>
        <div class="specification">
          <div class="item">
            <span class="label">Bedrooms</span>
            <span class="value">{{ item.no_of_rooms }}</span>
          </div>
          <!-- <div class="item">
                  <span class="label">Bathrooms</span>
                  <span class="value">2</span>
                </div> -->
          <div class="item">
            <span class="label">{{ item.floor_area }} sqft</span>
          </div>
        </div>
        <div (click)="openBrowser(item.property_name, item.url)" class="url">
          <span>URL: </span>
          <a>{{ item.url }}</a>
        </div>
        <div class="location">
          <ion-icon name="md-pin"></ion-icon>
          <span>{{ item.address }}</span>
        </div>
        <div class="available-viewing-time">
          <p>Confirmed view time</p>
          <!-- <div class="item">
                  <span>Day</span>
                  <div class="value">Monday</div>
                </div> -->
          <div class="item">
            <span>Date</span>
            <div
              *ngFor="let sub_item of item.available_date_time"
              class="value"
            >
              {{ formatDate(sub_item.available_date_from) }}
            </div>
          </div>
          <div class="item">
            <span>Time</span>
            <div
              *ngFor="let sub_item of item.available_date_time"
              class="value"
            >
              {{ formatTime(sub_item.available_date_from) }} -
              {{ formatTime(sub_item.available_date_to) }}
            </div>
          </div>
        </div>
        <div class="agent">
          <div class="agent-left">
            <ion-item>
              <!-- <ion-avatar slot="start">
                      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar> -->
              <ion-label>
                <h2>{{ item.account.fullname }}</h2>
                <p *ngIf="item.account.roles == 'agent'">
                  {{ item.account.cea_no }}
                </p>
                <p *ngIf="item.account.roles !== 'agent'">Owner</p>
              </ion-label>
            </ion-item>
          </div>
          <div *ngIf="!isLoggedIn() || item.account_id !== getUserData().id" class="button">
            <ion-button (click)="sendRequest(item)" size="small"
              >Contact Now</ion-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
