ion-header {
    h2 {
        margin: 0 0 5px;
        font-size: 22px;
    }
}
.viewing-request{
    position: absolute;
    right: 10px;
    top: 10px;
}
.section-credit-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .available {
        display: flex;
        align-items: flex-start;
        .image {
            margin-right: 10px;
            width: 33px;
        }
        .text {
            width: calc(100% - 43px);
            span {
                display: block;
                &.available-number {
                    color: var(--ion-color-primary);
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
    }
}
.section-view-by-type {
    .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .choose {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 5px 10px 20px;
        ion-radio-group {
            min-width: 700px;
            ion-item {
                margin: 0 5px;
                &.dot {
                    ion-label {
                        &:before {
                            content: '';
                            display: inline-block;
                            height: 8px;
                            width: 8px;
                            border-radius: 50%;
                            margin-right: 5px;
                        }
                    }
        
                    &.dot-red {
                        ion-label {
                            &:before {
                                background: var(--ion-color-danger);
                            }
                        }
                    }
        
                    &.dot-green {
                        ion-label {
                            &:before {
                                background: var(--ion-color-green);
                            }
                        }
                    }
        
                    &.dot-orange {
                        ion-label {
                            &:before {
                                background: var(--ion-color-orange);
                            }
                        }
                    }
        
                    &.dot-blue {
                        ion-label {
                            &:before {
                                background: var(--ion-color-primary);
                            }
                        }
                    }
        
                    &.dot-yellow {
                        ion-label {
                            &:before {
                                background: var(--ion-color-warning);
                            }
                        }
                    }
                }
                ion-label {
                    min-width: 80px;
                    padding: 0 10px;
                }
            }
        }
    }
}
.section-listing {
    .top-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        font-size: 15px;
        .title {
            font-weight: 600;
        }
        a {
            text-decoration: none;
        }
    }
}
