ion-header, ion-header ion-toolbar ion-title {
    background: #fff;
    h2{
        color: #fff;
    }
    ion-toolbar {
        --min-height: 60px;
    }
    ion-title {
        img {
            height: 34px;
        }
    }
}
.text-center{
    text-align: center;
}
ion-content {
    --background: var(--ion-color-blue-light);
}
.refresh{

    position: absolute;
    right: 15px;
    margin-top: -35px;
    height: 30px;
    font-size: 10px;

}
.section {
    background: var(--ion-color-primary-contrast); 
}
.section-filter {
    .title {
        font-size: 16px;
        color: var(--ion-color-main-text-dark);
        margin-bottom: 10px;
        color: #566782;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        height: 40px;
        padding-bottom: 0px;
        padding-right: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.section-listing {
    .product-details {
        background: var(--ion-color-primary-contrast);
        margin-bottom: 15px;
    }
}
.form {
    .multiple-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .multiple-input {
        display: flex;
        align-items: center;
        ion-input {
            width: calc(50% - 20px);
        }
        > span {
            width: 40px;
            text-align: center;
            font-size: 14px;
            color: var(--ion-color-main-text);
        }
    }
}

ion-header {
    h2 {
        margin: 0 0 5px;
        font-size: 22px;
    }
}
.viewing-request{
    position: absolute;
    right: 10px;
    top: 10px;
}
.section-credit-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .available {
        display: flex;
        align-items: flex-start;
        .image {
            margin-right: 10px;
            width: 33px;
        }
        .text {
            width: calc(100% - 43px);
            span {
                display: block;
                &.available-number {
                    color: var(--ion-color-primary);
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
    }
}
.section-view-by-type {
    .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .choose {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        ion-radio-group {
            min-width: 300px;
            ion-item {
                margin: 0 auto;
                box-shadow: none;
                &.dot {
                    ion-label {
                        font-size:23px !important;  
                    }
        
                    &.dot-red {
                        ion-label {
                            &:before {
                                background: var(--ion-color-danger);
                            }
                        }
                    }
        
                    &.dot-green {
                        ion-label {
                            &:before {
                                background: var(--ion-color-green);
                            }
                        }
                    }
        
                    &.dot-orange {
                        ion-label {
                            &:before {
                                background: var(--ion-color-orange);
                            }
                        }
                    }
        
                    &.dot-blue {
                        ion-label {
                            &:before {
                                background: var(--ion-color-primary);
                            }
                        }
                    }
        
                    &.dot-yellow {
                        ion-label {
                            &:before {
                                background: var(--ion-color-warning);
                            }
                        }
                    }
                }
                ion-label {
                    min-width: 150px;
                    padding: 0 10px;
                    font-size: 23px !important;
                }
            }
            ion-item.item-radio-checked{
                --background: #eee !important;
                box-shadow: 0 20px 20px 5px rgba(91, 91, 91, 0.2);
                ion-label{
                    color: var(--ion-color-main-text-dark) !important
                }
            }
        }
    }
}
.section-listing {
    .top-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        font-size: 15px;
        .title {
            font-weight: 600;
        }
        a {
            text-decoration: none;
        }
    }
}
