.alert-message.sc-ion-alert-ios{
    text-align: left;
}
.section-notifications {
    ion-item {
        &.notification {
            border-bottom: 1px solid var(--ion-color-blue-light);
            padding: 15px 16px;
            &.new {
                ion-label {
                    .top {
                        opacity: 1;
                        .title {
                            &:after {
                                content: '';
                                margin: 0 10px;
                                height: 10px;
                                width: 10px;
                                border-radius: 50%;
                                background: var(--ion-color-danger);
                            }
                        }
                    }
                    .desc {
                        opacity: 1;
                    }
                }
            }
            ion-label {
                margin-inline-end: 0;
                margin-top: 0;
                margin-bottom: 0;
                text-overflow: inherit;
                white-space: normal;
                .top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 7px;
                    opacity: 0.6;
                    .title {
                        font-size: 15px;
                        margin: 0;
                        font-weight: 600;
                        color: var(--ion-color-main-text-dark);
                        width: calc(100% - 110px);
                        display: flex;
                        align-items: center;
                    }
                    .time {
                        font-size: 12px;
                        color: var(--ion-color-main-text);
                        width: 110px;
                    }
                }
                .desc {
                    font-size: 12px;
                    color: var(--ion-color-main-text);
                    opacity: 0.6;
                }
            }
        }
    }
}

.section-tabs-content {
    .menu-tab {
        padding-top: 0;
        padding-bottom: 0;

        ion-segment {
            ion-segment-button {
                color: var(--ion-color-main-text);
                --border-color: transparent;
                --background-activated: var(--ion-color-primary-contrast);
                --background-checked: var(--ion-color-primary-contrast);
                --color-checked: var(--ion-color-primary);
                border-bottom: 2px solid transparent;
                border-width: 0;
                min-height: 0;
                height: 50px;
                line-height: 50px;
                font-weight: 600;

                &.segment-button-checked {
                    color: var(--ion-color-primary);
                    border-bottom: 2px solid var(--ion-color-primary);
                }

                &:first-child,
                &:last-child {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
    .content-tab {

    }
}