<ion-header no-border class="section">
  <ion-toolbar>
    <ion-title>
      Notifications
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-tabs-content">
      <div class="section menu-tab ion-padding">
        <ion-segment>
          <ion-segment-button (click)="toggleTab('viewing-request')" value="viewing-request" [checked]="tabState == 'viewing-request'">
            <ion-label>Viewing Request</ion-label>
          </ion-segment-button>
          <ion-segment-button (click)="toggleTab('tag-agents')" value="tag-agents" [checked]="tabState == 'tag-agents'">
            <ion-label>Tag Agents</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      <div class="content-tab">
            <div id="" [hidden]="tabState !== 'viewing-request'" class="content section-notifications ion-padding">
                <ion-list>
                    <ion-item (click)="open(item)" *ngFor="let item of getNotificationViewingRequest()" [ngClass]="{'new': item.is_read == 0}" class="notification">
                      <ion-label>
                        <div class="top">
                          <h2 class="title">{{item.title}}</h2>
                          <div class="time">{{item.created_date}}</div>
                        </div>
                        <div class="desc" [innerHTML]="item.notification">
                        </div>
                      </ion-label>
                    </ion-item>
                    <ion-item *ngIf="getNotificationViewingRequest().length == 0">
                      <p class="text-center">No record.</p>
                    </ion-item>
                  </ion-list>
            </div>
            <div id="" [hidden]="tabState !== 'tag-agents'" class="content section-notifications ion-padding">
                <ion-list>
                    <ion-item (click)="openTagAgents(item)" *ngFor="let item of getNotificationTagAgents()" [ngClass]="{'new': item.is_read == 0}" class="notification">
                      <ion-label>
                        <div class="top">
                          <h2 class="title">{{item.title}}</h2>
                          <div class="time">{{item.created_date}}</div>
                        </div>
                        <div class="desc" [innerHTML]="item.notification">
                        </div>
                      </ion-label>
                    </ion-item>
                    <ion-item *ngIf="getNotificationTagAgents().length == 0">
                        <p class="text-center">No record.</p>
                      </ion-item>
                  </ion-list>
            </div>
      </div>
    </div>
</ion-content>