.section-notifications ion-item.notification {
  border-bottom: 1px solid var(--ion-color-blue-light);
  padding: 15px 16px;
}

.section-notifications ion-item.notification.new ion-label .top {
  opacity: 1;
}

.section-notifications ion-item.notification.new ion-label .top .title:after {
  content: '';
  margin: 0 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--ion-color-danger);
}

.section-notifications ion-item.notification.new ion-label .desc {
  opacity: 1;
}

.section-notifications ion-item.notification ion-label {
  margin-inline-end: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: inherit;
  white-space: normal;
}

.section-notifications ion-item.notification ion-label .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
  opacity: 0.6;
}

.section-notifications ion-item.notification ion-label .top .title {
  font-size: 15px;
  margin: 0;
  font-weight: 600;
  color: var(--ion-color-main-text-dark);
  width: calc(100% - 110px);
  display: flex;
  align-items: center;
}

.section-notifications ion-item.notification ion-label .top .time {
  font-size: 12px;
  color: var(--ion-color-main-text);
  width: 110px;
}

.section-notifications ion-item.notification ion-label .desc {
  font-size: 12px;
  color: var(--ion-color-main-text);
  opacity: 0.6;
}
