<ion-header no-border class="section">
  <ion-toolbar>
    <ion-title>
      List Property Viewing
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="alert alert-green ion-padding">
    1 credit used
  </div>
  <div class="section-listing ion-padding">
    <div class="product-details">
      <div class="label">
        <ion-button size="small" class="green">Tenanted</ion-button>
        <ion-button size="small" class="orange">2% Comm</ion-button>
      </div>
      <div class="description">
        <div class="title-price">
          <h2>Piermont Grand</h2>
          <div class="price">$799.19</div>
        </div>
        <div class="specification">
          <div class="item">
            <span class="label">Bedrooms</span>
            <span class="value">4</span>
          </div>
          <div class="item">
            <span class="label">Bathrooms</span>
            <span class="value">2</span>
          </div>
          <div class="item">
            <span class="label">1248sqft</span>
          </div>
        </div>
        <div class="url">
          <span>URL: </span>
          <a href="">https://www.99.co/blog/singapore/a-home-above-allen-and-lorem-ipsum-dolor-sit-amet</a>
        </div>
        <div class="location">
          <ion-icon name="md-pin"></ion-icon>
          <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
        </div>
        <div class="available-viewing-time">
          <p>Confirmed view time</p>
          <div class="item">
            <span>Day</span>
            <div class="input">
              <ion-input placeholder="-"></ion-input>
            </div>
          </div>
          <div class="item">
            <span>Date</span>
            <div class="input">
              <ion-input placeholder="-"></ion-input>
            </div>
          </div>
          <div class="item">
            <span>Time</span>
            <div class="input multiple">
              <ion-input placeholder="-"></ion-input>
              <span>-</span>
              <ion-input placeholder="-"></ion-input>
            </div>
          </div>
        </div>
        <div class="agent">
          <div class="agent-left">
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>
                <h2>Jennifer Ford</h2>
                <p>Propximity Agents</p>
              </ion-label>
            </ion-item>
          </div>
          <div routerLink="" class="button">
            <ion-button size="small">Contact Agent</ion-button>
          </div>
        </div>
      </div>
    </div>
    <div class="product-details">
      <div class="label">
        <ion-button size="small" class="green">Tenanted</ion-button>
        <ion-button size="small" class="orange">2% Comm</ion-button>
      </div>
      <div class="description">
        <div class="title-price">
          <h2>Piermont Grand</h2>
          <div class="price">$799.19</div>
        </div>
        <div class="specification">
          <div class="item">
            <span class="label">Bedrooms</span>
            <span class="value">4</span>
          </div>
          <div class="item">
            <span class="label">Bathrooms</span>
            <span class="value">2</span>
          </div>
          <div class="item">
            <span class="label">1248sqft</span>
          </div>
        </div>
        <div class="url">
          <span>URL: </span>
          <a href="">https://www.99.co/blog/singapore/a-home-above-allen-and-lorem-ipsum-dolor-sit-amet</a>
        </div>
        <div class="location">
          <ion-icon name="md-pin"></ion-icon>
          <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
        </div>
        <div class="available-viewing-time">
          <p>Confirmed view time</p>
          <div class="item">
            <span>Day</span>
            <div class="input">
              <ion-input placeholder="-"></ion-input>
            </div>
          </div>
          <div class="item">
            <span>Date</span>
            <div class="input">
              <ion-input placeholder="-"></ion-input>
            </div>
          </div>
          <div class="item">
            <span>Time</span>
            <div class="input multiple">
              <ion-input placeholder="-"></ion-input>
              <span>-</span>
              <ion-input placeholder="-"></ion-input>
            </div>
          </div>
        </div>
        <div class="agent">
          <div class="agent-left">
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>
                <h2>Jennifer Ford</h2>
                <p>Propximity Agents</p>
              </ion-label>
            </ion-item>
          </div>
          <div routerLink="" class="button">
            <ion-button size="small">Contact Agent</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal-tag-agent show">
    <!-- modal show -->
    <div class="content-modal ion-padding">
      <div class="title">Tag Agents</div>
      <div class="close">
        <ion-button fill="clear">
          <ion-icon name="ios-close-circle"></ion-icon>
        </ion-button>
      </div>
      <div class="content">
        <div class="items">
          <div class="item item-title">
            <div class="name">Name</div>
            <div class="mobile">Mobile</div>
          </div>
          <div class="item">
            <div class="check">
              <ion-checkbox></ion-checkbox>
            </div>
            <ion-input value="Carolyn Martin"></ion-input>
            <ion-input value="+65-855-5889-2"></ion-input>
          </div>
          <div class="item">
            <div class="check">
              <ion-checkbox></ion-checkbox>
            </div>
            <ion-input value="Carolyn Martin"></ion-input>
            <ion-input value="+65-855-5889-2"></ion-input>
          </div>
          <div class="item">
            <div class="check">
              <ion-checkbox></ion-checkbox>
            </div>
            <ion-input value="Carolyn Martin"></ion-input>
            <ion-input value="+65-855-5889-2"></ion-input>
          </div>
          <div class="item">
            <div class="check">
              <ion-checkbox></ion-checkbox>
            </div>
            <ion-input value="Carolyn Martin"></ion-input>
            <ion-input value="+65-855-5889-2"></ion-input>
          </div>
          <div class="item">
            <div class="check">
              <ion-checkbox></ion-checkbox>
            </div>
            <ion-input value="Carolyn Martin"></ion-input>
            <ion-input value="+65-855-5889-2"></ion-input>
          </div>
        </div>
        <div class="create">
          <div class="create-title">Create New Contact</div>
          <ion-input placeholder="Enter Name"></ion-input>
          <ion-input placeholder="Enter Number"></ion-input>
        </div>
        <div class="outer-button">
          <ion-button expand="block">Add Tags</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>