ion-content {
    --background: var(--ion-color-blue-light);
}
.section-listing {
    .product-details {
        background: var(--ion-color-primary-contrast);
        margin-bottom: 15px;
    }
}
.alert-green {
    padding-top: 10px;
    padding-bottom: 10px; 
    font-weight: 600;
    text-align: center;
    background: var(--ion-color-green);
    color: var(--ion-color-success-contrast);
}
.available-viewing-time {
    .item {
        &:nth-of-type(2) {
            width: 30%;
        }
        &:last-child {
            width: 40%;
        }
    }
    .input.multiple {
        display: flex;
        align-items: center;
        span {
            text-align: center;
            padding: 0px 2px;
        }
    }
    ion-input {
        color: var(--ion-color-primary);
        text-align: center;
        border-radius: 3px;
        --padding-top: 3px !important;
        --padding-bottom: 3px !important;
        --padding-start: 5px !important;
        --padding-end: 5px;
        border: 1px solid var(--ion-color-light);
        font-size: 12px;
        background: var(--ion-color-primary-contrast);
    }
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 99;
    align-items: center;
    justify-content: center;
    &.show {
        display: flex;
    }
    .content-modal {
        background: var(--ion-color-primary-contrast);
        border-radius: 10px;
        width: calc(100% - 30px);
        position: relative;
        .close {
            position: absolute;
            top: 3px;
            right: 0px;
            ion-icon {
                font-size: 26px;
                color: var(--ion-color-light-shade);
            }
        }
        .title {
            font-weight: 600;
            font-size: 15px;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid var(--ion-color-light-shade);
            color: var(--ion-color-main-text-dark);
        }
        .content {
            ion-input {
                border-radius: 6px;
                --padding-top: 10px !important;
                --padding-bottom: 10px !important;
                --padding-start: 15px !important;
                --padding-end: 15px;
                border: 1px solid var(--ion-color-light);
                font-size: 14px;
            }
            .items {
                .item {
                    margin-bottom: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    ion-input {
                        margin: 0 2px;
                    }
                    &.item-title {
                        display: flex;
                        justify-content: flex-end;
                        color: var(--ion-color-main-text-dark);
                        font-weight: 600;
                        > div {
                            margin: 2px;
                            width: calc(50% - 17.5px);
                        }
                    }
                }
            }
            .create {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .create-title {
                    margin: 2px;
                    width: calc(100% - 4px);
                    font-weight: 600;
                    color: var(--ion-color-main-text-dark);
                }
                > ion-input {
                    margin: 2px;
                    width: calc(50% - 4px);
                }
            }
            .outer-button {
                margin-top: 20px;
            }
        }
    }
}
