html {

    &.ios,
    &.md {
        font-weight: normal;
        color: var(--ion-color-main-text);
        font-size: 14px;
        background-color: var(--ion-color-primary-contrast);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: var(--ion-color-main-text-dark);
    }
}
ion-header {
    ion-toolbar {
        --min-height: 55px;
        ion-title {
            font-size: 16px;
            background:var(--ion-color-primary);
            color:#fff;
        }
        ion-back-button {
            font-size: 14px !important;
            padding: 0 8px;
            --color: #fff !important;
            ion-label{
                color:#fff !important;
            }
        }
    }
}
:root {
    ion-back-button {
      --color: white !important;
    }
}
ion-back-button{
    --color: white !important;
}
.sc-ion-buttons-ios-hion-toolbar:not(.ion-color).sc-ion-buttons-ios-s .button-clear, ion-toolbar:not(.ion-color) .sc-ion-buttons-ios-h.sc-ion-buttons-ios-s .button-clear{
    color: #fff !important;
}
ion-content {
    --color: var(--ion-color-main-text);
}

ion-button {
    font-weight: 600;

    &:not(.button-small) {
        height: 38px;
        --border-radius: 6px;
        font-size: 14px;
    }

    &.button-small {
        --border-radius: 3px;
    }
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0;
}
.form {
    >.item {
        margin-bottom: 15px;
        &.button {
            margin-top: 30px;
        }
    }
    .multiple-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > ion-button {
            margin: 0;
            height: 20px;
            margin-right: -8px;
        }
    }
    ion-label {
        font-weight: 600;
        --color: var(--ion-color-main-text-dark) !important;
        margin-bottom: 5px !important;
    }
    ion-input, ion-select, ion-textarea {
        border-radius: 6px;
        --padding-top: 10px !important;
        --padding-bottom: 10px !important;
        --padding-start: 15px !important;
        --padding-end: 15px;
        border: 1px solid var(--ion-color-light);
        font-size: 14px;
    }
}
.check {
    display: flex;
    align-items: center;
    ion-checkbox {
        --border-radius: 3px;
        height: 20px;
        width: 20px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 7px;
    }
    span {
        font-weight: normal;
        color: var(--ion-color-primary);
    }
}
ion-radio-group {
    display: flex;
    flex-wrap: wrap;
    border: 0 transparent;
    &.radio-form {
        margin: 0 -5px;
        ion-item {
            width: calc(50% - 10px);
            box-shadow: none;
            margin: 0 5px;
            border: 1px solid var(--ion-color-light-shade);
            ion-label {
                margin-bottom: 0 !important;
                display: flex !important;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: visible !important;
                img {
                    height: 24px;
                    margin-right: 8px;
                }
                ion-icon {
                    color: var(--ion-color-primary);
                    display: none;
                    position: absolute;
                    right: -1px;
                    top: -8px;
                    font-size: 22px;
                }
            }
            &.item-radio-checked {
                --background: var(--ion-color-primary-contrast);
                border: 1px solid var(--ion-color-primary);
                ion-label {
                    color: var(--ion-color-primary) !important;
                    ion-icon {
                        display: block;
                    }
                }
            }
        }
    }

    ion-item {
        position: relative;
        --min-height: 38px;
        border-radius: 5px;
        margin: 5px;
        box-shadow: 0 8px 20px 0 rgba(91, 91, 91, 0.06);

        &.item-radio-checked {
            --background: var(--ion-color-primary);

            ion-label {
                color: var(--ion-color-primary-contrast) !important;
            }
        }

        ion-label {
            margin: 0;
            display: block;
            text-align: center;
            width: 100%;
            font-weight: normal;
            font-size: 14px !important;
            color: var(--ion-color-main-text) !important;
        }

        ion-radio {
            opacity: 0;
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
    }
}

.section {
    border-bottom: 2px solid var(--ion-color-blue-light);
}

// listing layout
.product-details {
    box-shadow: 0 8px 20px 0 rgba(91, 91, 91, 0.06);
    padding: 12px 15px;
    border-radius: 7px;

    .label {
        ion-button {
            height: 20px;
            font-size: 12px;

            &.green {
                --background: var(--ion-color-primary);
                --color: var(--ion-color-success-contrast)
            }

            &.orange {
                --background: var(--ion-color-primary);
                --color: var(--ion-color-warning-contrast)
            }
        }
    }

    .description {
        .title-price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;
            margin-bottom: 10px;

            h2 {
                font-size: 19px;
                font-weight: 600;
                margin: 0;
            }

            .price {
                font-size: 19px;
                font-weight: 600;
                color: var(--ion-color-primary);
            }
        }

        .specification {
            display: flex;
            margin-bottom: 7px;

            .item {
                font-size: 12px;
                padding-right: 22px;
                position: relative;
                color: var(--ion-color-medium-shade);

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                &:after {
                    content: '';
                    background: var(--ion-color-primary);
                    height: 7px;
                    width: 7px;
                    border-radius: 50px;
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    transform: translate(0, -50%);
                }

                .value {
                    padding-left: 5px;
                    font-weight: 600;
                    color: var(--ion-color-main-text-dark);
                }
            }
        }

        .url {
            font-size: 12px;
            margin-bottom: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .location {
            display: flex;
            align-items: flex-start;

            ion-icon {
                margin-left: -7px;
                width: 30px;
                color: var(--ion-color-primary);
            }

            span {
                color: var(--ion-color-medium-shade);
                font-size: 12px;
            }
        }

        .available-viewing-time {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 15px 10px;
            background: var(--ion-color-blue-light);
            border-radius: 5px;

            >p {
                width: 100%;
                margin: 0 0 8px;
                color: var(--ion-color-medium-shade);
                font-size: 12px;
                padding: 0 10px;
            }

            .item {
                border-right: 1px solid var(--ion-color-light);
                padding: 0 10px;
                width: 50%;

                &:nth-of-type(1) {
                    width: 50%;
                }

                &:last-child {
                    border-right: 0 transparent;
                }

                >span {
                    color: var(--ion-color-medium-shade);
                    font-size: 12px;
                }

                .value {
                    font-size: 15px;
                    font-weight: 600;
                    color: var(--ion-color-primary);
                }
            }
        }

        .agent {
            display: flex;
            align-items: center;
            justify-content: space-between;

            ion-item {
                ion-avatar {
                    margin-right: 10px;
                }

                ion-label {
                    margin: 0;

                    h2 {
                        font-weight: 600;
                        font-size: 14px;
                    }

                    p {
                        font-size: 12px;
                        color: var(--ion-color-primary);
                    }
                }
            }
        }
    }
}

// end listing layout