html.ios, html.md {
  font-weight: normal;
  color: var(--ion-color-main-text);
  font-size: 14px;
  background-color: var(--ion-color-primary-contrast);
}

html h1,
html h2,
html h3,
html h4,
html h5 {
  color: var(--ion-color-main-text-dark);
}

ion-header ion-toolbar {
  --min-height: 55px;
}

ion-header ion-toolbar ion-title {
  font-size: 16px;
}

ion-header ion-toolbar ion-back-button {
  font-size: 14px !important;
  padding: 0 8px;
  --color: var(--ion-color-main-text) !important;
}

ion-content {
  --color: var(--ion-color-main-text);
}

ion-button {
  font-weight: 600;
}

ion-button:not(.button-small) {
  height: 38px;
  --border-radius: 6px;
  font-size: 14px;
}

ion-button.button-small {
  --border-radius: 3px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;
}

.form > .item {
  margin-bottom: 15px;
}

.form > .item.button {
  margin-top: 30px;
}

.form .multiple-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form .multiple-label > ion-button {
  margin: 0;
  height: 20px;
  margin-right: -8px;
}

.form ion-label {
  font-weight: 600;
  --color: var(--ion-color-main-text-dark) !important;
  margin-bottom: 5px !important;
}

.form ion-input, .form ion-select, .form ion-textarea {
  border-radius: 6px;
  --padding-top: 10px !important;
  --padding-bottom: 10px !important;
  --padding-start: 15px !important;
  --padding-end: 15px;
  border: 1px solid var(--ion-color-light);
  font-size: 14px;
}

.check {
  display: flex;
  align-items: center;
}

.check ion-checkbox {
  --border-radius: 3px;
  height: 20px;
  width: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 7px;
}

.check span {
  font-weight: normal;
  color: var(--ion-color-primary);
}

ion-radio-group {
  display: flex;
  flex-wrap: wrap;
  border: 0 transparent;
}

ion-radio-group.radio-form {
  margin: 0 -5px;
}

ion-radio-group.radio-form ion-item {
  width: calc(50% - 10px);
  box-shadow: none;
  margin: 0 5px;
  border: 1px solid var(--ion-color-light-shade);
}

ion-radio-group.radio-form ion-item ion-label {
  margin-bottom: 0 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible !important;
}

ion-radio-group.radio-form ion-item ion-label img {
  height: 24px;
  margin-right: 8px;
}

ion-radio-group.radio-form ion-item ion-label ion-icon {
  color: var(--ion-color-primary);
  display: none;
  position: absolute;
  right: -1px;
  top: -8px;
  font-size: 22px;
}

ion-radio-group.radio-form ion-item.item-radio-checked {
  --background: var(--ion-color-primary-contrast);
  border: 1px solid var(--ion-color-primary);
}

ion-radio-group.radio-form ion-item.item-radio-checked ion-label {
  color: var(--ion-color-primary) !important;
}

ion-radio-group.radio-form ion-item.item-radio-checked ion-label ion-icon {
  display: block;
}

ion-radio-group ion-item {
  position: relative;
  --min-height: 38px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 8px 20px 0 rgba(91, 91, 91, 0.06);
}

ion-radio-group ion-item.item-radio-checked {
  --background: var(--ion-color-primary);
}

ion-radio-group ion-item.item-radio-checked ion-label {
  color: var(--ion-color-primary-contrast) !important;
}

ion-radio-group ion-item ion-label {
  margin: 0;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: normal;
  font-size: 14px !important;
  color: var(--ion-color-main-text) !important;
}

ion-radio-group ion-item ion-radio {
  opacity: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.section {
  border-bottom: 2px solid var(--ion-color-blue-light);
}

.product-details {
  box-shadow: 0 8px 20px 0 rgba(91, 91, 91, 0.06);
  padding: 12px 15px;
  border-radius: 7px;
}

.product-details .label ion-button {
  height: 20px;
  font-size: 12px;
}

.product-details .label ion-button.green {
  --background: var(--ion-color-green);
  --color: var(--ion-color-success-contrast)
            ;
}

.product-details .label ion-button.orange {
  --background: var(--ion-color-orange);
  --color: var(--ion-color-warning-contrast)
            ;
}

.product-details .description .title-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}

.product-details .description .title-price h2 {
  font-size: 19px;
  font-weight: 600;
  margin: 0;
}

.product-details .description .title-price .price {
  font-size: 19px;
  font-weight: 600;
  color: var(--ion-color-primary);
}

.product-details .description .specification {
  display: flex;
  margin-bottom: 7px;
}

.product-details .description .specification .item {
  font-size: 12px;
  padding-right: 22px;
  position: relative;
  color: var(--ion-color-medium-shade);
}

.product-details .description .specification .item:last-child:after {
  display: none;
}

.product-details .description .specification .item:after {
  content: '';
  background: var(--ion-color-primary);
  height: 7px;
  width: 7px;
  border-radius: 50px;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translate(0, -50%);
}

.product-details .description .specification .item .value {
  padding-left: 5px;
  font-weight: 600;
  color: var(--ion-color-main-text-dark);
}

.product-details .description .url {
  font-size: 12px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-details .description .location {
  display: flex;
  align-items: flex-start;
}

.product-details .description .location ion-icon {
  margin-left: -7px;
  width: 30px;
  color: var(--ion-color-primary);
}

.product-details .description .location span {
  color: var(--ion-color-medium-shade);
  font-size: 12px;
}

.product-details .description .available-viewing-time {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
  background: var(--ion-color-blue-light);
  border-radius: 5px;
}

.product-details .description .available-viewing-time > p {
  width: 100%;
  margin: 0 0 8px;
  color: var(--ion-color-medium-shade);
  font-size: 12px;
  padding: 0 10px;
}

.product-details .description .available-viewing-time .item {
  border-right: 1px solid var(--ion-color-light);
  padding: 0 10px;
  width: 35%;
}

.product-details .description .available-viewing-time .item:nth-of-type(1) {
  width: 30%;
}

.product-details .description .available-viewing-time .item:last-child {
  border-right: 0 transparent;
}

.product-details .description .available-viewing-time .item > span {
  color: var(--ion-color-medium-shade);
  font-size: 12px;
}

.product-details .description .available-viewing-time .item .value {
  font-size: 15px;
  font-weight: 600;
  color: var(--ion-color-primary);
}

.product-details .description .agent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details .description .agent ion-item ion-avatar {
  margin-right: 10px;
}

.product-details .description .agent ion-item ion-label {
  margin: 0;
}

.product-details .description .agent ion-item ion-label h2 {
  font-weight: 600;
  font-size: 14px;
}

.product-details .description .agent ion-item ion-label p {
  font-size: 12px;
  color: var(--ion-color-primary);
}
