<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <div class="icon-tabs">
        <img src="../../assets/images/icons/icon-home.svg">
      </div>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isLoggedIn()" tab="viewing-request">
      <div class="icon-tabs">
        <ion-icon style="font-size:25px;" name="md-people"></ion-icon>
      </div>
      <ion-label>Connect</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="!isLoggedIn()" routerLink="/login">
        <div class="icon-tabs">
          <ion-icon style="font-size:25px;" name="md-people"></ion-icon>
        </div>
        <ion-label>Connect</ion-label>
      </ion-tab-button>

    <ion-tab-button *ngIf="isLoggedIn()" tab="create-post">
      <div class="icon-tabs">
        <img src="../../assets/images/icons/icon-create-post.svg">
      </div>
      <ion-label>Create Post</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!isLoggedIn()" routerLink="/login">
      <div class="icon-tabs">
          <img src="../../assets/images/icons/icon-create-post.svg">
        </div>
        <ion-label>Create Post</ion-label>
      </ion-tab-button>

    <ion-tab-button *ngIf="isLoggedIn()" tab="notifications" class="new-notification"> <!-- add class "new-notification" -->
      <div class="icon-tabs">
        <img src="../../assets/images/icons/icon-notifications.svg">
      </div>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="!isLoggedIn()" routerLink="/login">
      <div class="icon-tabs">
        <img src="../../assets/images/icons/icon-notifications.svg">
      </div>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isLoggedIn()" tab="profile">
      <div class="icon-tabs">
        <img src="../../assets/images/icons/icon-profile.svg">
      </div>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="!isLoggedIn()" routerLink="/login">
      <div class="icon-tabs">
          <img src="../../assets/images/icons/icon-profile.svg">
        </div>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
