ion-tabs {
    ion-tab-bar {
        height: 68px;

        ion-tab-button {
            &.tab-selected {
                .icon-tabs {
                    img {
                        opacity: 1;
                        -webkit-filter: grayscale(0%);
                        filter: grayscale(0%);
                    }
                }
            }
            &.new-notification {
                .icon-tabs {
                    &:after {
                        content: '';
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        background: var(--ion-color-danger);
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }

            .icon-tabs {
                height: 20px;
                width: 20px;
                text-align: center;
                margin-bottom: 5px;
                position: relative;

                img {
                    height: 100%;
                    width: auto;
                    opacity: 1;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }

            ion-label {
                font-size: 12px;
                margin-bottom: 5px;
                font-weight: normal;
            }
        }
    }
}
