ion-header, ion-header ion-toolbar ion-title {
    background: #fff;
    h2{
        color: #fff;
    }
    ion-toolbar {
        --min-height: 60px;
        ion-back-button {
            font-size: 14px !important;
            padding: 0 8px;
            --color: #333 !important;
            ion-label{
                color:#333 !important;
            }
        }
    }
    ion-title {
        img {
            height: 34px;
        }
    }
}

:root {
    ion-back-button {
      --color: #333 !important;
    }
}
ion-back-button{
    --color: #333 !important;
}
.sc-ion-buttons-ios-hion-toolbar:not(.ion-color).sc-ion-buttons-ios-s .button-clear, ion-toolbar:not(.ion-color) .sc-ion-buttons-ios-h.sc-ion-buttons-ios-s .button-clear{
    color: #333 !important;
}