<ion-header no-border class="section">
    <ion-toolbar style="background:#fff;">
      <ion-title>
        <img src="../../assets/images/logo.png" style="width:150px;"/>
      </ion-title>
      <ion-buttons slot="secondary">
          <ion-button (click)="goBack()" routerDirection="back" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="content ion-padding">
      <ion-row>
        <ion-col (click)="presentModal('condo')">
            <img style="width:25px;position:absolute;left:10px;top:0" src="../../assets/images/logo_icon.png"/>
            <div style="padding-left:40px;">Search by Districts - Condo / Landed</div>
        </ion-col>
      </ion-row>
      <ion-row (click)="presentModal('hdb')" style="margin-top:20px;">
          <ion-col>
              <img style="width:25px;position:absolute;left:10px;top:0" src="../../assets/images/logo_icon.png"/>
              <div style="padding-left:40px;">Search by HDB Estates</div>
          </ion-col>
        </ion-row>
      <!-- <div align="center" style="margin-top:20px;">
        <img src="../../assets/img/Picture1.png"/>
      </div> -->
    </div>
  </ion-content>